mixin headerBlock(title, img)
	// start headerBlock
	+b.headerBlock--white.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
		.container
			+b.section-title
				h1!= title

	// end headerBlock


mixin headerBlock2(img)
	// start headerBlock
	+b.headerBlock--white.headerBlock--no-title.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
			.container-absolut
				+e.header
					a.btn-link.btn-reverse.small(href='#') В каталог
						+icon('arrow-back')
					+img(src=`img/konigstein-dark-1.svg`, alt="").brand
				h1 Гессен Морион
				.filters-wrapper#product-filter
					+e.item
						.small.item-title Формат
						+b.filter--img
							+e.title
								+img(src="img/format.svg", alt="")
								span.title__text Формат
							+e.wrap.small
									+in-c("radio", '', 'filter-1')(checked)
										+img(src="img/format.svg", alt="")
										span.custom-input__text.form-check-label Одинарный (1НФ)
									+imgInput('format', 'Евроформат (0,7НФ)', 'filter-1')
									+imgInput('format', 'Длинный формат (0,63НФ)', 'filter-1')
									+imgInput('format', 'Плитка', 'filter-1')
					+e.item
						.small.item-title Пустотность
						+b.filter--img
							+e.title.small
								+img(src="img/format.svg", alt="")
								span.title__text Пустотность
							+e.wrap.small
								.custom-scroll()
									+in-c("radio", '', 'filter-2')(checked)
										+img(src="img/empty-1.svg", alt="")
										span.custom-input__text.form-check-label Полнотелый
									+imgInput('empty-2', 'Полнотелый (пустотность меньше 13%)', 'filter-2')
									+imgInput('empty-3', 'Пустотелый', 'filter-2')
					+e.item
						.small.item-title Форма
						+b.filter--img
							+e.title.small.empty
								+img(src="img/format.svg", alt="")
								span.title__text Нет параметра
					+e.item
						.small.item-title Цвет шва
						+b.filter--colors
							+e.title.small
								span.custom-input__img(style=`background-color:#F2F0E6;`)
								span.custom-input__text.form-check-label Цвет шва
							+e.wrap.small
									+in-c("radio", '', 'filter-4')(checked)
										span.custom-input__img(style=`background-color:#F2F0E6;`)
										span.custom-input__text.form-check-label Алебастрово-белый
									+colorInput('#ABABAB','Светло-серый', 'filter-4')
									+colorInput('#262626','Графитово-чёрный', 'filter-4')
									+colorInput('#FDF4E3','Кремово-жёлтый', 'filter-4')
									+colorInput('#45494E','Графитово-серый', 'filter-4')

	// end headerBlock
mixin imgInput(img, text, name)
	+in-c("radio", '', name)
		+img(src=`img/${img}.svg`, alt="")
		span.custom-input__text.form-check-label= text



//- mixin headerBlock3(img)
//- 	// start headerBlock 3
//- 	.container-max
//- 		.block1
//- 			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
//- 	// end headerBlock

mixin headerBlockAnimated(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim
			.block-anim__content-wrap
				.block-anim__title-wrap: .block-anim__title Мы не просто производим облицовочный кирпич
				ul.block-anim__list
					li мастерство
					li этичность
					li эстетичность
				.block-anim__footer
					.bricks
						.brick
						.brick
						.brick
						.brick
						.brick
					.text мы создаём, воплощаем, творим. совершенствуем мастерство. технику. технологии. уникальный дизайн. неповторимую эстетику.
				.block-anim__line: .line
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimated2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim2
			.block-anim2__content-wrap
				.line.line-1
				.line.line-2
				.line.line-3
				.bg-gr.bg-gr-1.bg-gr--js
				.bg-gr.bg-gr-2.bg-gr--js
				.bg-gr.bg-gr-3.bg-gr--js
				.bg-gr-add.bg-gr-5.bg-gr--js
				.bg-gr-add.bg-gr-6.bg-gr--js
				.bg-gr-add.bg-gr-7.bg-gr--js
				.bg-gr-add.bg-gr-8.bg-gr--js
				.bg-gr-add.bg-gr-9.bg-gr--js
				ul.block-anim2__list.list-1
					li Эталонное качество
					li оперативное решение вопросов
					li Развитие с учетом трендов
				ul.block-anim2__list.list-2
					li современное оборудование
					li соблюдение сроков поставки
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedEdelhaus1(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-edelhaus-1
			.inner-container
				.block-anim-edelhaus-1__title-wrap
					.block-anim-edelhaus-1__title.title_top харизматичный
					.block-anim-edelhaus-1__title.title_bottom и амбициозный
				.block-anim-edelhaus-1__content-wrap
					.text Бренд Edelhaus Klinker&nbsp;&mdash; активный, амбициозный, так&nbsp;же как и&nbsp;те, для кого&nbsp;он. Edelhaus Klinker сам себе задает высокую планку и&nbsp;идет к&nbsp;новым&nbsp;&mdash; все более смелым&nbsp;&mdash; целям. Как и&nbsp;сам клинкерный кирпич, бренд Edelhaus Klinker олицетвоярет собой стойкость, выдержку, постоянство, надежность
				+img(src=`img/edelhaus-light.svg`, alt="").brand
				+img(src=`img/brick.png`, alt="").brick
			.parallax-container(style=`background-image:url(img/brand-header-${img}-m.png);`).d-md-none
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`).d-none.d-md-block
	// end headerBlock

mixin headerBlockAnimatedEdelhaus2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-edelhaus-2
			.block-anim__content-wrap
				.block-anim__title-wrap: .block-anim-edelhaus-2__title Стойкость в его характере
				.block-anim-edelhaus-2__footer
					.text.text-top Коллекции клинкерного кирпича и плитки Edelhaus Klinker — это уникальное сочетание природных цветов и фактур с наивысшей стойкостью и долговечностью, с которыми неповторимые архитектурные образы создаются на&nbsp;века.
					.text.text-transform Коллекции клинкерного кирпича и плитки Edelhaus Klinker — это уникальное сочетание природных цветов и фактур с наивысшей стойкостью и долговечностью, с которыми неповторимые архитектурные образы создаются на&nbsp;века.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin headerBlockAnimatedMK(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mk.block-anim-mk-1
			.inner-container
				+img(src=`img/master.svg`, alt="").brand.up-down
				.block-anim-mk__title-wrap
					.block-anim-mk__title.up-down храним тепло традиций
				.block-anim-mk__content-wrap.up-down
					.text Классическое сочетание традиционного дизайна и&nbsp;современных технологий, доведенное до&nbsp;совершенства. А&nbsp;коллекции&nbsp;&mdash; полнотельный и&nbsp;пустотелый лицевой кирпич.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedMK2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mk.block-anim-mk-2
			.inner-container
				.block-anim-mk-2__title-wrap.up-down
					.block-anim-mk-2__title.title_top традиции
					.block-anim-mk-2__title.title_span и
					.block-anim-mk-2__title.title_bottom преемственность
				.block-anim-mk-2__content-wrap
					.text.up-down.text_left Бренд Мастер Керамик основывается на&nbsp;глубоких ценностях, которые формируют характер настоящего мастера: Мастера, который любит свое дело, развивает мастерство и&nbsp;ценит человеческие отношения.
					.text.up-down.text_right Как мастер внедряет современные технологии в&nbsp;старинные методы печной кладки, так и&nbsp;бренд Мастер Керамик объединяет прошлое и&nbsp;будущее, сохраняя и&nbsp;развивая традиции печного мастерства.
			+img(src=`img/master-crop.svg`, alt="").brand.up-down
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedKonig(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-konig.block-anim-konig-1
			.inner-container.up-down.left-to-right
				.wrapper.inner-container-center-anim
					.block-anim-konig__title-wrap.left-to-right
						.block-anim-konig__title.title_top.up-down покоряет
						.block-anim-konig__title.title_bottom.up-down дизайном
					.block-anim-konig__content-wrap
						.text.up-down.left-to-right Мы создали в сотрудничестве с европейскими мастерами уникальную коллекцию лицевого полнотелого и пустотелого кирпича для фасадов, каминов и печей. <br> Это воплощение качества и дизайна, которым можно гордиться.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedKonig2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-konig.block-anim-konig-2
			.inner-container
				.wrapper.inner-container-center-anim
					.lg-after.lg-after_left.d-none.d-lg-inline-block.left-to-right
					.lg-before.lg-before_left.d-none.d-md-inline-block.left-to-right
					.lg-before.lg-before_right.d-none.d-md-inline-block.left-to-right
					.block-anim-konig-2__title-wrap.left-to-right
						.block-anim-konig__title.title_top.up-down статусный #[span и]
						.block-anim-konig__title.title_bottom.up-down рациональный
					.block-anim-konig-2__content-wrap.left-to-right
						.text.up-down Дизайн кирпича бренда Königstein отличает богатство цвета, фактурность и красота поверхности. <br> Как и сам кирпич, бренд Königstein сочетает в себе эстетику и современность, статусность и рациональность. <br> Из этих сочетаний складывается уникальный характер бренда.
					.lg-after.lg-after_right.d-none.d-lg-inline-block.left-to-right
			.brand-wrap: +img(src=`img/konigstein-crop.svg`, alt="").brand.up-down.left-to-right
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin headerBlockAnimatedMF(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mf.block-anim-mf-1
			.inner-container.inner-container-center-anim
				.block-anim-mf__title-wrap.down-up
					.block-anim-mf__title.title_top пространство
					.block-anim-mf__title.title_bottom творить
				.block-anim-mf__content-wrap.down-up
					.text В&nbsp;бренде ModFormat есть особенные ценности, которые задают уникальный характер свободной, творческой личности, которая не&nbsp;боится экспериментировать и&nbsp;создавать что-то новое.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedMF2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mf.block-anim-mf-2
			.inner-container.inner-container-center-anim
				.block-anim-mf__title-wrap
					.block-anim-mf__title.title_top.down-up утонченный #[span и]
					.block-anim-mf__title.title_bottom.down-up неповторимый
				.block-anim-mf__content-wrap.down-up
					.text Утонченный и&nbsp;неповторимый дизайн коллекции лицевого пустотелого кирпича и&nbsp;плитки ModFormat меняет представления об&nbsp;эстетике, форме и&nbsp;пространстве.<br>Воплощает самые смелые авторские замыслы и&nbsp;творческие эксперименты &mdash; в&nbsp;полном объёме.
				.brand-wrap: +img(src=`img/modformat.svg`, alt="").brand
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin colorInput(color, text, name)
	+in-c("radio", '', name)
		span.custom-input__img(style=`background-color:${color};`)
		span.custom-input__text.form-check-label!= text