mixin headerBlock(title, img)
	// start headerBlock
	+b.headerBlock--white.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
		.container
			+b.section-title
				h1!= title

	// end headerBlock


mixin headerBlock2(img)
	// start headerBlock
	+b.headerBlock--white.headerBlock--no-title.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
			.container-absolut
				+e.header
					a.btn-link.btn-reverse.small(href='#') В каталог
						+icon('arrow-back')
					+img(src=`img/konigstein-dark-1.svg`, alt="").brand
				h1 Гессен Морион
				.filters-wrapper#product-filter
					+e.item
						.small.item-title Формат
						+b.filter--img
							+e.title
								+img(src="img/format.svg", alt="")
								span.title__text Формат
							+e.wrap.small
									+in-c("radio", '', 'filter-1')(checked)
										+img(src="img/format.svg", alt="")
										span.custom-input__text.form-check-label Одинарный (1НФ)
									+imgInput('format', 'Евроформат (0,7НФ)', 'filter-1')
									+imgInput('format', 'Длинный формат (0,63НФ)', 'filter-1')
									+imgInput('format', 'Плитка', 'filter-1')
					+e.item
						.small.item-title Пустотность
						+b.filter--img
							+e.title.small
								+img(src="img/format.svg", alt="")
								span.title__text Пустотность
							+e.wrap.small
								.custom-scroll()
									+in-c("radio", '', 'filter-2')(checked)
										+img(src="img/empty-1.svg", alt="")
										span.custom-input__text.form-check-label Полнотелый
									+imgInput('empty-2', 'Полнотелый (пустотность меньше 13%)', 'filter-2')
									+imgInput('empty-3', 'Пустотелый', 'filter-2')
					+e.item
						.small.item-title Форма
						+b.filter--img
							+e.title.small.empty
								+img(src="img/format.svg", alt="")
								span.title__text Нет параметра
					+e.item
						.small.item-title Цвет шва
						+b.filter--colors
							+e.title.small
								span.custom-input__img(style=`background-color:#F2F0E6;`)
								span.custom-input__text.form-check-label Цвет шва
							+e.wrap.small
									+in-c("radio", '', 'filter-4')(checked)
										span.custom-input__img(style=`background-color:#F2F0E6;`)
										span.custom-input__text.form-check-label Алебастрово-белый
									+colorInput('#ABABAB','Светло-серый', 'filter-4')
									+colorInput('#262626','Графитово-чёрный', 'filter-4')
									+colorInput('#FDF4E3','Кремово-жёлтый', 'filter-4')
									+colorInput('#45494E','Графитово-серый', 'filter-4')

	// end headerBlock
mixin imgInput(img, text, name)
	+in-c("radio", '', name)
		+img(src=`img/${img}.svg`, alt="")
		span.custom-input__text.form-check-label= text

mixin colorInput(color, text, name)
	+in-c("radio", '', name)
		span.custom-input__img(style=`background-color:${color};`)
		span.custom-input__text.form-check-label!= text

mixin headerBlock3(img)
	// start headerBlock
	.container-max
		.block1
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)


	// end headerBlock