mixin headerBlock(title, img)
	// start headerBlock
	+b.headerBlock--white.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
		.container
			+b.section-title
				h1!= title

	// end headerBlock


mixin headerBlock2(img)
	// start headerBlock
	+b.headerBlock--white.headerBlock--no-title.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
			.container-absolut
				+e.header
					a.btn-link.btn-reverse.small(href='#') В каталог
						+icon('arrow-back')
					+img(src=`img/konigstein-dark-1.svg`, alt="").brand
				h1 Гессен Морион
				.filters-wrapper#product-filter
					+e.item
						.small.item-title Формат
						+b.filter--img
							+e.title
								+img(src="img/format.svg", alt="")
								span.title__text Формат
							+e.wrap.small
									+in-c("radio", '', 'filter-1')(checked)
										+img(src="img/format.svg", alt="")
										span.custom-input__text.form-check-label Одинарный (1НФ)
									+imgInput('format', 'Евроформат (0,7НФ)', 'filter-1')
									+imgInput('format', 'Длинный формат (0,63НФ)', 'filter-1')
									+imgInput('format', 'Плитка', 'filter-1')
					+e.item
						.small.item-title Пустотность
						+b.filter--img
							+e.title.small
								+img(src="img/format.svg", alt="")
								span.title__text Пустотность
							+e.wrap.small
								.custom-scroll()
									+in-c("radio", '', 'filter-2')(checked)
										+img(src="img/empty-1.svg", alt="")
										span.custom-input__text.form-check-label Полнотелый
									+imgInput('empty-2', 'Полнотелый (пустотность меньше 13%)', 'filter-2')
									+imgInput('empty-3', 'Пустотелый', 'filter-2')
					+e.item
						.small.item-title Форма
						+b.filter--img
							+e.title.small.empty
								+img(src="img/format.svg", alt="")
								span.title__text Нет параметра
					+e.item
						.small.item-title Цвет шва
						+b.filter--colors
							+e.title.small
								span.custom-input__img(style=`background-color:#F2F0E6;`)
								span.custom-input__text.form-check-label Цвет шва
							+e.wrap.small
									+in-c("radio", '', 'filter-4')(checked)
										span.custom-input__img(style=`background-color:#F2F0E6;`)
										span.custom-input__text.form-check-label Алебастрово-белый
									+colorInput('#ABABAB','Светло-серый', 'filter-4')
									+colorInput('#262626','Графитово-чёрный', 'filter-4')
									+colorInput('#FDF4E3','Кремово-жёлтый', 'filter-4')
									+colorInput('#45494E','Графитово-серый', 'filter-4')

	// end headerBlock
mixin imgInput(img, text, name)
	+in-c("radio", '', name)
		+img(src=`img/${img}.svg`, alt="")
		span.custom-input__text.form-check-label= text

mixin headerBlock3(img, brand)
	// start headerBlock 3
	.container-max
		.block1
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
			if brand
				.content
					+img(src=`img/${brand}.svg`, alt="").brand
				+e.btn.btn.btn-primary(href='#') Catalog
	// end headerBlock

//- mixin headerBlockAnimated(img)
//- 	// start headerBlock anim
//- 	.container-max.block-with-animation-js
//- 		.block1.block1-anim.block-anim
//- 			.block-anim__content-wrap
//- 				.block-anim__title-wrap: .block-anim__title Мы не просто производим облицовочный кирпич
//- 				ul.block-anim__list
//- 					li мастерство
//- 					li этичность
//- 					li эстетичность
//- 				.block-anim__footer
//- 					.bricks
//- 						.brick
//- 						.brick
//- 						.brick
//- 						.brick
//- 						.brick
//- 					.text мы создаём, воплощаем, творим. совершенствуем мастерство. технику. технологии. уникальный дизайн. неповторимую эстетику.
//- 				.block-anim__line: .line
//- 			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
//- 	// end headerBlock

mixin headerBlockAnimated(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim
			.block-anim__content-wrap
				.block-anim__title-wrap: .block-anim__title We do not just produce facing brick
				ul.block-anim__list
					li Mastery
					li Ethics
					li Aesthetics
				.block-anim__footer
					.bricks
						.brick
						.brick
						.brick
						.brick
						.brick
					.text We create, embody, innovate. We perfect craftsmanship, technique, and technology. Unique design, unparalleled aesthetics.
				.block-anim__line: .line
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

//- mixin headerBlockAnimated2(img)
//- 	// start headerBlock anim
//- 	.container-max.block-with-animation-js
//- 		.block1.block1-anim.block-anim2
//- 			.block-anim2__content-wrap: .anim-wr
//- 				.line.line-1
//- 				.line.line-2
//- 				.line.line-3
//- 				.bg-gr.bg-gr-1.bg-gr--js
//- 				.bg-gr.bg-gr-2.bg-gr--js
//- 				.bg-gr.bg-gr-3.bg-gr--js
//- 				.bg-gr-add.bg-gr-5.bg-gr--js
//- 				.bg-gr-add.bg-gr-6.bg-gr--js
//- 				.bg-gr-add.bg-gr-7.bg-gr--js
//- 				.bg-gr-add.bg-gr-8.bg-gr--js
//- 				.bg-gr-add.bg-gr-9.bg-gr--js
//- 				.lists
//- 					ul.block-anim2__list.list-1
//- 						li Эталонное качество
//- 						li оперативное решение вопросов
//- 						li Развитие с учетом трендов
//- 					ul.block-anim2__list.list-2
//- 						li современное оборудование
//- 						li соблюдение сроков поставки
//- 			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
//- 	// end headerBlock

mixin headerBlockAnimated2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim2
			.block-anim2__content-wrap: .anim-wr
				.line.line-1
				.line.line-2
				.line.line-3
				.bg-gr.bg-gr-1.bg-gr--js
				.bg-gr.bg-gr-2.bg-gr--js
				.bg-gr.bg-gr-3.bg-gr--js
				.bg-gr-add.bg-gr-5.bg-gr--js
				.bg-gr-add.bg-gr-6.bg-gr--js
				.bg-gr-add.bg-gr-7.bg-gr--js
				.bg-gr-add.bg-gr-8.bg-gr--js
				.bg-gr-add.bg-gr-9.bg-gr--js
				.lists
					ul.block-anim2__list.list-1
						li Benchmark quality
						li Prompt<br>issue<br>resolution
						li Development aligned with trends
					ul.block-anim2__list.list-2
						li Modern equipment
						li On-time<br>delivery compliance
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedEdelhaus1(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-edelhaus-1
			.inner-container
				.block-anim-edelhaus-1__title-wrap
					.block-anim-edelhaus-1__title.title_top Charismatic
					.block-anim-edelhaus-1__title.title_bottom And ambitious
				.block-anim-edelhaus-1__content-wrap
					.text The brand Edelhaus Klinker is active, ambitious, and represents those who share these qualities. Edelhaus Klinker sets high standards for itself and strives towards new, bolder goals. Like the clinker brick itself, the Edelhaus Klinker brand embodies resilience, endurance, consistency, and reliability.
				+img(src=`img/edelhaus-light.svg`, alt="").brand
				+img(src=`img/brick.png`, alt="").brick
			.parallax-container(style=`background-image:url(img/brand-header-${img}-m.png);`).d-md-none
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`).d-none.d-md-block
	// end headerBlock

mixin headerBlockAnimatedEdelhaus2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-edelhaus-2
			.block-anim__content-wrap
				.block-anim__title-wrap: .block-anim-edelhaus-2__title Resilience is in its character
				.block-anim-edelhaus-2__footer
					.text.text-top The collections of clinker bricks and tiles by Edelhaus Klinker are a unique blend of natural colors and textures with the highest resilience and durability, creating timeless architectural designs that last for centuries.
					.text.text-transform The collections of clinker bricks and tiles by Edelhaus Klinker are a unique blend of natural colors and textures with the highest resilience and durability, creating timeless architectural designs that last for centuries.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin headerBlockAnimatedMK(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mk.block-anim-mk-1
			.inner-container
				+img(src=`img/master.svg`, alt="").brand.up-down
				.block-anim-mk__title-wrap
					.block-anim-mk__title.up-down keep the warmth of traditions
				.block-anim-mk__content-wrap.up-down
					.text The classic combination of traditional design and modern technologies, brought to perfection. And the collections are a full and hollow front brick.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedMK2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mk.block-anim-mk-2
			.inner-container
				.block-anim-mk-2__title-wrap.up-down
					.block-anim-mk-2__title.title_top traditions
					.block-anim-mk-2__title.title_span and
					.block-anim-mk-2__title.title_bottom continuity
				.block-anim-mk-2__content-wrap
					.text.up-down.text_left The brand master of ceramics is based on the deep values ​​that form the character of a real master: a master who loves his job, develops skill and appreciates human relations.
					.text.up-down.text_right As the master introduces modern technologies into ancient methods of stove masonry, so the brand master of ceramic combines the past and future.
			.br: +img(src=`img/master-crop.svg`, alt="").brand.up-down
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedKonig(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-konig.block-anim-konig-1
			.inner-container
				.wrapper.inner-container-center-anim.up-down.left-to-right
					.block-anim-konig__title-wrap.left-to-right
						.block-anim-konig__title.title_top.up-down Conquers
						.block-anim-konig__title.title_bottom.up-down with design
					.block-anim-konig__content-wrap
						.text.up-down.left-to-right We created in cooperation with European masters a unique collection of facade and hollow bricks for facades, fireplaces and furnaces. <br> This is the embodiment of quality and design that you can be proud of.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedKonig2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-konig.block-anim-konig-2
			.inner-container
				.wrapper.inner-container-center-anim
					.lg-after.lg-after_left.d-none.d-lg-inline-block.left-to-right
					.lg-before.lg-before_left.d-none.d-md-inline-block.left-to-right
					.lg-before.lg-before_right.d-none.d-md-inline-block.left-to-right
					.block-anim-konig-2__title-wrap.left-to-right
						.block-anim-konig__title.title_top.up-down Status-driven #[span and]
						.block-anim-konig__title.title_bottom.up-down rational
					.block-anim-konig-2__content-wrap.left-to-right
						.text.up-down Königstein brand brick design is distinguished by color wealth, texture and beauty beauty. <br> Like the brick itself, the Königstein brand combines aesthetics and modernity, status and rationality.<br> Of these combinations, the unique nature of the brand is formed.
					.lg-after.lg-after_right.d-none.d-lg-inline-block.left-to-right
			.brand-wrap.br: +img(src=`img/konigstein-crop.svg`, alt="").brand.up-down.left-to-right
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin headerBlockAnimatedMF(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mf.block-anim-mf-1
			.inner-container.inner-container-center-anim
				.block-anim-mf__title-wrap.down-up
					.block-anim-mf__title.title_top space to
					.block-anim-mf__title.title_bottom create
				.block-anim-mf__content-wrap.down-up
					.text The Modformat brand has special values ​​that set the unique character of a free, creative person who is not afraid to experiment and create something new.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedMF2(img)
	// start headerBlock anim
	.container-max.block-with-animation-js
		.block1.block1-anim.block-anim-mf.block-anim-mf-2
			.inner-container.inner-container-center-anim
				.block-anim-mf__title-wrap
					.block-anim-mf__title.title_top.down-up refined #[span and]
					.block-anim-mf__title.title_bottom.down-up unrepeatable
				.block-anim-mf__content-wrap.down-up
					.text The sophisticated and unique design of the collection of celestial brick and tiles Modformat changes ideas about aesthetics, shape and space.<br>Embodies the most daring author’s ideas and creative experiments - in full.
				.br
					.brand-wrap: +img(src=`img/modformat.svg`, alt="").brand
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin colorInput(color, text, name)
	+in-c("radio", '', name)
		span.custom-input__img(style=`background-color:${color};`)
		span.custom-input__text.form-check-label!= text