mixin headerBlock(title, img)
	// start headerBlock
	+b.headerBlock--white.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
		.container
			+b.section-title
				h1!= title

	// end headerBlock


mixin headerBlock2(img)
	// start headerBlock
	+b.headerBlock--white.headerBlock--no-title.section#headerBlock&attributes(attributes)
		.container-maxx
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
			.container-absolut
				+e.header
					a.btn-link.btn-reverse.small(href='#') В каталог
						+icon('arrow-back')
					+img(src=`img/konigstein-dark-1.svg`, alt="").brand
				h1 Гессен Морион
				.filters-wrapper#product-filter
					+e.item
						.small.item-title Формат
						+b.filter--img
							+e.title
								+img(src="img/format.svg", alt="")
								span.title__text Формат
							+e.wrap.small
									+in-c("radio", '', 'filter-1')(checked)
										+img(src="img/format.svg", alt="")
										span.custom-input__text.form-check-label Одинарный (1НФ)
									+imgInput('format', 'Евроформат (0,7НФ)', 'filter-1')
									+imgInput('format', 'Длинный формат (0,63НФ)', 'filter-1')
									+imgInput('format', 'Плитка', 'filter-1')
					+e.item
						.small.item-title Пустотность
						+b.filter--img
							+e.title.small
								+img(src="img/format.svg", alt="")
								span.title__text Пустотность
							+e.wrap.small
								.custom-scroll()
									+in-c("radio", '', 'filter-2')(checked)
										+img(src="img/empty-1.svg", alt="")
										span.custom-input__text.form-check-label Полнотелый
									+imgInput('empty-2', 'Полнотелый (пустотность меньше 13%)', 'filter-2')
									+imgInput('empty-3', 'Пустотелый', 'filter-2')
					+e.item
						.small.item-title Форма
						+b.filter--img
							+e.title.small.empty
								+img(src="img/format.svg", alt="")
								span.title__text Нет параметра
					+e.item
						.small.item-title Цвет шва
						+b.filter--colors
							+e.title.small
								span.custom-input__img(style=`background-color:#F2F0E6;`)
								span.custom-input__text.form-check-label Цвет шва
							+e.wrap.small
									+in-c("radio", '', 'filter-4')(checked)
										span.custom-input__img(style=`background-color:#F2F0E6;`)
										span.custom-input__text.form-check-label Алебастрово-белый
									+colorInput('#ABABAB','Светло-серый', 'filter-4')
									+colorInput('#262626','Графитово-чёрный', 'filter-4')
									+colorInput('#FDF4E3','Кремово-жёлтый', 'filter-4')
									+colorInput('#45494E','Графитово-серый', 'filter-4')

	// end headerBlock
mixin imgInput(img, text, name)
	+in-c("radio", '', name)
		+img(src=`img/${img}.svg`, alt="")
		span.custom-input__text.form-check-label= text

mixin colorInput(color, text, name)
	+in-c("radio", '', name)
		span.custom-input__img(style=`background-color:${color};`)
		span.custom-input__text.form-check-label!= text

//- mixin headerBlock3(img)
//- 	// start headerBlock 3
//- 	.container-max
//- 		.block1
//- 			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
//- 	// end headerBlock

mixin headerBlockAnimated(img)
	// start headerBlock anim
	.container-max
		.block1.block-anim
			.block-anim__content-wrap
				.block-anim__title-wrap: .block-anim__title Мы не просто производим облицовочный кирпич
				ul.block-anim__list
					li мастерство
					li этичность
					li эстетичность
				.block-anim__footer
					.bricks
						.brick
						.brick
						.brick
						.brick
						.brick
					.text мы создаём, воплощаем, творим. совершенствуем мастерство. технику. технологии. уникальный дизайн. неповторимую эстетику.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin headerBlockAnimatedEdelhaus1(img)
	// start headerBlock anim
	.container-max
		.block1.block-anim-edelhaus-1
			.inner-container
				.block-anim-edelhaus-1__title-wrap
					.block-anim-edelhaus-1__title.title_top харизматичный
					.block-anim-edelhaus-1__title.title_bottom и амбициозный
				.block-anim-edelhaus-1__content-wrap
					.text Бренд Edelhaus Klinker — активный, амбициозный, так же как и те, для кого он. Edelhaus Klinker сам себе задает высокую планку и идет к новым - все более смелым — целям. Как и сам клинкерный кирпич, бренд Edelhaus Klinker олицетвоярет собой стойкость, выдержку, постоянство, надежность
				+img(src=`img/edelhaus-light.svg`, alt="").brand
				+img(src=`img/brick.png`, alt="").brick
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedEdelhaus2(img)
	// start headerBlock anim
	.container-max
		.block1.block-anim-edelhaus-2
			.block-anim__content-wrap
				.block-anim__title-wrap: .block-anim-edelhaus-2__title Стойкость в его характере
				.block-anim-edelhaus-2__footer
					.text Коллекции клинкерного кирпича и плитки Edelhaus Klinker — это уникальное сочета- ние природных цветов и фактур с наивысшей стойкостью и долговеч- ностью, с которыми неповторимые архитек- турные образы создаются на века.
					.text.text-transform Коллекции клинкерного кирпича и плитки Edelhaus Klinker — это уникальное сочета- ние природных цветов и фактур с наивысшей стойкостью и долговеч- ностью, с которыми неповторимые архитек- турные образы создаются на века.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock


mixin headerBlockAnimatedMK(img)
	// start headerBlock anim
	.container-max
		.block1.block-anim-mk.block-anim-mk-1
			.inner-container
				+img(src=`img/master.svg`, alt="").brand.up-down
				.block-anim-mk__title-wrap
					.block-anim-mk__title.up-down храним тепло традиций
				.block-anim-mk__content-wrap.up-down
					.text Классическое сочетание традиционного дизайна и современных технологий, доведенное до совершенства. А коллекции — полнотельный и пустотелый лицевой кирпич.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedMK2(img)
	// start headerBlock anim
	.container-max
		.block1.block-anim-mk.block-anim-mk-2
			.inner-container
				.block-anim-mk-2__title-wrap.up-down
					.block-anim-mk-2__title.title_top традиции
					.block-anim-mk-2__title.title_span и
					.block-anim-mk-2__title.title_bottom преемственность
				.block-anim-mk-2__content-wrap
					.text.up-down.text_left Бренд Мастер Керамик основывается на глубоких ценностях, которые формируют характер настоящего мастера: Мастера, который любит свое дело, развивает мастерство и ценит человеческие отношения.
					.text.up-down.text_right Как мастер внедряет современные технологии в старинные методы печной кладки, так и бренд Мастер Керамик объединяет прошлое и будущее, сохраняя и развивая традиции печного мастерства.
			+img(src=`img/master-crop.svg`, alt="").brand.up-down
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock

mixin headerBlockAnimatedKonig(img)
	// start headerBlock anim
	.container-max
		.block1.block-anim-konig
			.inner-container.inner-container-center-anim.up-down.left-to-right
				.block-anim-konig__title-wrap.left-to-right
					.block-anim-konig__title.title_top.up-down покоряет
					.block-anim-konig__title.title_bottom.up-down дизайном
				.block-anim-konig__content-wrap
					.text.up-down.left-to-right Мы создали в сотрудничестве с европейскими мастерами уникальную коллекцию лицевого полнотелого и пустотелого кирпича для фасадов, каминов и печей. <br> Это воплощение качества и дизайна, которым можно гордиться.
			.parallax-container(style=`background-image:url(img/brand-header-${img}.png);`)
	// end headerBlock