mixin sStorage(data)
	// start sStorage
	+b.SECTION.sStorage.section#sStorage&attributes(attributes)
		.container
			.tabs.tabs-slider--js.swiper
				.tabs__caption.swiper-wrapper
					.tabs__btn.swiper-slide(href='#storage').active Схемы проезда
					.tabs__btn.swiper-slide(href='#scheme') Склады «КС Керамик»
					.tabs__btn.swiper-slide(href='#infoForDrivers') Информация для водителей
			+e.item#storage
				+e.row.row
					.col-12.col-md-8.order-md-2
						+e.map
							#map
					.col-12.col-md-4
						.inner-wrap
							.title.fw-500 Склады «КС Керамик»
							.custom-scroll()
								.box
								//- +distributorItem('Склад основной на заводе', 'Кирово-Чепецкий район, посёлок при станции Бумкомбинат, Кирпичный проезд, 1', '58.467892, 50.063425')
								//- +distributorItem('Склад УМИАТ', 'Кирово-Чепецк, квартал Пригородный', '58.527740, 49.984161')
								//- +distributorItem('Склад База ОРС', 'г. Кирово-Чепецк, квартал Цепели, 18', '58.517168, 50.004264')
								//- +distributorItem('Склад «Славянский мир»', 'Москва, поселение Мосрентген, строительный рынок «Славянский мир»', '55.621473,37.450197')
			+e.item#scheme
				h3 Схемы проезда к складам
				+b.map-item
					.title.fw-500.title-map Склад основной на заводе
					.d-flex
						.coordination GPS: 58.467892, 50.063425
							+icon('copy')
						a(href='img/map-bg-4.png' download).small
							+icon('download')
							| Скачать изображение
					+e.img-wrap.bg-wrap.map-wrap
						+img(`img/map-bg-4.png`, 'bg').d-md-none
						+img(`img/map-bg-4-desctop.png`, 'bg').d-none.d-md-block
					p Въезд в Кирово-Чепец, проехать прямо до поворота на улица Володарскова, завернуть направо, через 900 метров повернуть направо на улицу Юбилейная, направляйтесь прямо по дороге
				+b.map-item
					.title.fw-500.title-map Склад база ОРС
					.d-flex
						.wrap
							.coordination GPS: 58.517168, 50.004264
								+icon('copy')
							.d-none.d-md-block Ориентир — г. Кирово-Чепецк, квартал Цепели, 18
						a(href='img/map-bg-3.png' download).small
							+icon('download')
							| Скачать изображение
					+e.img-wrap.bg-wrap.map-wrap
						+img(`img/map-bg-3.png`, 'bg').d-md-none
						+img(`img/map-bg-3-desctop.png`, 'bg').d-none.d-md-block
					p Въезд в Кирово-Чепец, проехать прямо и повернуть до моста направо, 1 км проехать прямо, повернуть направо и через 20 метров повернуть налево
				+b.map-item
					.title.fw-500.title-map Склад УМИАТ
					.d-flex
						.coordination GPS: 58.527740, 49.984161
							+icon('copy')
						a(href='img/map-bg-2.png' download).small
							+icon('download')
							| Скачать изображение
					+e.img-wrap.bg-wrap.map-wrap
						+img(`img/map-bg-2.png`, 'bg').d-md-none
						+img(`img/map-bg-2-desctop.png`, 'bg').d-none.d-md-block
					p Въезд в Кирово-Чепец, повернуть на Производственную улицу, проехать прямо и повернуть направо, ориентир желтые ворота
				+b.map-item
					.title.fw-500.title-map Склад «Славянский мир»
					.d-flex
						.coordination GPS: 55.621473,37.450197
							+icon('copy')
						a(href='img/map-bg-1.png' download).small
							+icon('download')
							| Скачать изображение
					+e.img-wrap.bg-wrap.map-wrap
						+img(`img/map-bg-1.png`, 'bg').d-md-none
						+img(`img/map-bg-1-desctop.png`, 'bg').d-none.d-md-block
					p Оптово-розничная точка продажи строительный рынок «Славянский мир. Тополёк»: Москва, поселение Мосрентген, Проектируемый проезд № 134. строительный рынок «Славянский мир», место ТН-11.
			+e.item#infoForDrivers
				h3 Информация для водителей
				+e.row-drivers
					+storageFeature('watch', 'Время погрузки', 'пн-пт с 8.30 до 16.00, сб. и вс. выходной.')
					+storageFeature('carHeavy', 'Правила погрузки', 'Погрузка осуществляется с одного бока при помощи погрузчика.')
					+storageFeature('delivery', 'Требования для перевозки', 'Закрепление ремнями — 1 ремень на два поддона.')
					+storageFeature('close', 'Информация по закрытию дорог', 'Нет ограничений.')
				h5 Нормы загрузки
					- var sizeDescription = 'Размер ДхШхВ, мм'
					- var quantityInPalletDescription = 'Кол-во в поддоне'
					- var quantityInTruckDescription = 'Кол-во а/м 20т., шт'
					- var quantityInRailcarDescription = 'Кол-во полувагоне, шт'
				+b.item-top.bg-wrap
					+img(`img/storage-bg-1.png`, 'bg').picture-bg
					+e.item-wrap
						+e.item-row.row
							.col-12.col-md-5.order-md-2
								.icons-wrap
									+img(src=`img/edelhaus-light.svg`, alt="").brand
							.col-12.col-md-7
								.h5 Кирпич клинкерный лицевой пустотелый Edelhaus Klinker
				.table-wrap
					mixin tHead
						thead
							tr
								th Наименование<br>продукции
								th Размер (длинна х ширина х толщина), мм
								th Кол-во в поддоне, шт
								th Кол-во а/м 20т., шт
								th Кол-во полувагоне, шт
					table
						+tHead
						tbody
							tr
								td КР-кл-пу 0,7 НФ
								td(data-title=sizeDescription)
									.dash
									| 250х85х65
								td(data-title=quantityInPalletDescription)
									.dash
									| 600
								td(data-title=quantityInTruckDescription)
									.dash
									| 9 000/ 15 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 28 888/ 48 под.
							tr
								td КР-кл-пу 1 НФ
								td(data-title=sizeDescription)
									.dash
									| 250х120х65
								td(data-title=quantityInPalletDescription)
									.dash
									| 480
								td(data-title=quantityInTruckDescription)
									.dash
									| 7 200/ 15 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 23 040/ 48 под.

				+b.item-top.bg-wrap
					+img(`img/storage-bg-2.png`, 'bg').picture-bg
					+e.item-wrap
						+e.item-row.row
							.col-12.col-md-5.order-md-2
								.icons-wrap
									+img(src=`img/konigstein-2.svg`, alt="").brand
									+img(src=`img/master-ceramic.svg`, alt="").brand
							.col-12.col-md-7
								.h5 Кирпич керамический лицевой пустотелый Kôningstein/ Мастер Керамик
				.table-wrap
					table
						+tHead
						tbody
							tr
								td КР-кл-пу 0,7 НФ
								td(data-title=sizeDescription)
									.dash
									| 250х85х65
								td(data-title=quantityInPalletDescription)
									.dash
									| 600
								td(data-title=quantityInTruckDescription)
									.dash
									| 9 900/ 15 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 31 680/ 48 под.
							tr
								td КР-кл-пу 1 НФ
								td(data-title=sizeDescription)
									.dash
									| 250х120х65
								td(data-title=quantityInPalletDescription)
									.dash
									| 540
								td(data-title=quantityInTruckDescription)
									.dash
									| 8 100/ 15 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 25 920/ 48 под.
							tr
								td КР-кл-пу 1,4 НФ
								td(data-title=sizeDescription)
									.dash
									| 250х120х88
								td(data-title=quantityInPalletDescription)
									.dash
									| 396
								td(data-title=quantityInTruckDescription)
									.dash
									| 5 940/ 15 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 19 008/ 48 под.

				+b.item-top.bg-wrap
					+img(`img/storage-bg-3.png`, 'bg').picture-bg
					+e.item-wrap
						+e.item-row.row
							.col-12.col-md-5.order-md-2
								.icons-wrap
									+img(src=`img/konigstein-2.svg`, alt="").brand
									+img(src=`img/master-ceramic.svg`, alt="").brand
							.col-12.col-md-7
								.h5 Кирпич керамический лицевой пустотелый Kôningstein/ Мастер Керамик
				.table-wrap
					table
						+tHead
						tbody
							tr
								td КР-кл-пу 1 НФ
								td(data-title=sizeDescription)
									.dash
									| 250х120х65
								td(data-title=quantityInPalletDescription)
									.dash
									| 300
								td(data-title=quantityInTruckDescription)
									.dash
									| 5 100/ 17 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 14 400/ 48 под.
							tr
								td КР-кл-пу 0,7 НФ (пустотность 13 %)
								td(data-title=sizeDescription)
									.dash
									| 250х85х65
								td(data-title=quantityInPalletDescription)
									.dash
									| 540
								td(data-title=quantityInTruckDescription)
									.dash
									| 8 100/ 15 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 25 920/ 48 под.

				+b.item-top.bg-wrap
					+img(`img/storage-bg-4.png`, 'bg').picture-bg
					+e.item-wrap
						+e.item-row.row
							.col-12.col-md-5.order-md-2
								.icons-wrap
									+img(src=`img/modformat.svg`, alt="").brand
							.col-12.col-md-7
								.h5 Кирпич длинного формата Mod Format
				.table-wrap
					table
						+tHead
						tbody
							tr
								td КР-кл-пу 0,7 НФ
								td(data-title=sizeDescription)
									.dash
									| 290х85х50
								td(data-title=quantityInPalletDescription)
									.dash
									| 612
								td(data-title=quantityInTruckDescription)
									.dash
									| 1 040/ 17 под.
								td(data-title=quantityInRailcarDescription)
									.dash
									| 31 824/ 52 под.

	// end sStorage

mixin storageFeature(icon, title, text)
	+b.storage-feature
		+icon(icon)
		.title.fw-500=title
		p= text

mixin distributorItem(title,address,coords)
	+b.coord-item
		+e.title
			| #{title}
		+e.item-text
			+e.info-address.small #[span Адрес]: #{address}
			+e.info-address.small #[span GPS координаты:] #{coords}

