mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container-max
			.design-block
				+cardSquareEasy('6', 'Более 300 видов лицевого керамического кирпича')
				+b.card-square-item--2.card-square-item--sand
					.wrap
						p Акционерное общество «КС Керамик» — предприятие по выпуску лицевого керамического кирпича ТМ Königstein, ModFormat, Edelhaus Klinker и Мастер Керамик по технологии пластического формования.
						+e.texts.fw-600
							p Проектная мощность завода, рассчитанная на базе лицевого кирпича стандартного формата
							.wrapper
								span 8064
								.items.fw-600
									.small шт
									.small час
				+cardSquareEasy('7', 'История завода')
				+b.card-square-item--gray
					.tabs
						.sAbout__date-swiper--js.card-square-item-swiper
							.tabs__caption.swiper-wrapper
								.tabs__btn.swiper-slide 2007
								.tabs__btn.swiper-slide 2008
								.tabs__btn.swiper-slide 2009
								.tabs__btn.swiper-slide.active 2010
								.tabs__btn.swiper-slide 2011
								.tabs__btn.swiper-slide 2012
								.tabs__btn.swiper-slide 2013
						.wrap
							.tabs__content: p Строгое соблюдение сроков поставки Заложен фундамент современного завода облицовочного кирпича АО «Кирово-Чепецкий кирпичный завод»
							.tabs__content: p Незамедлительное решение любых вопросов в ходе работы:
							.tabs__content: p Соответствие промышленных партий эталонным образцам Незамедлительное решение любых вопросов в ходе работы
							.tabs__content.active: p Заложен фундамент современного завода облицовочного кирпича АО «Кирово-Чепецкий кирпичный завод»
							.tabs__content: p Соответствие промышленных партий эталонным образцам Незамедлительное решение любых вопросов в ходе работы
							.tabs__content: p Незамедлительное решение любых вопросов в ходе работы
							.tabs__content: p Соответствие промышленных партий эталонным образцам
			//- +e.row.row
		.container
			+e.item#advantages.white-section
				+e.title-wrap
					+b.title-item
						.h1 Наши преимущества
					+e.img-wrap.bg-wrap
						+img(`img/about.png`, 'bg')
				+e.advantages
					+advantageAbout(1, 'Соответствие промышленных партий эталонным образцам')
					+advantageAbout(2, 'Строгое соблюдение сроков поставки')
					+advantageAbout(3, 'Незамедлительное решение любых вопросов в ходе работы')
					+advantageAbout(4, 'Самый современный парк оборудования от лучшего мирового поставщика линии для производства керамического кирпича')
					+advantageAbout(5, 'Постоянное развитие и вывод на рынок новых видов продукции в контексте современных трендов')
		.container-max
			+e.item#blockquote
				+e.img-wrap.bg-wrap
					+img(`img/manager.png`, 'bg')
				.blockquote
					+icon('quote')
					.wrapper
						blockquote
							p Производство кирпича — дело, которое заполняет наши сердца на протяжении более 15 лет. Желание преображать облик городов и частных посёлков, делая их ярче и красивее, современнее и надёжнее, воплотилось в построенном нами заводе с отвечающем времени оборудованием и передовыми технологиями, в сплочённой и вдохновлённой команде специалистов, в идеях и стремлениях совершенствоваться и соответствовать требованиям сегодняшнего дня.
							p Мы неустанно находимся в поиске новых дизайнерских решений, позволяющих качественно исполнить архитектурный проект любой сложности. Именно поэтому в ассортименте завода свыше 300 видов продукции разных оттенков, фактур и форматов.
							p Надеемся, что благодаря нашему труду, вы обретёте вдохновение для создания своего кирпичного дома, ведь наше дело олицетворяет собой радость жизни, а призвание — надёжные стены вашего жилища, теплоту печей и каминов из нашего кирпича.
						+e.sign
							.descr
								.fw-600 Вишневский Александр Юрьевич
								.small Генеральный директор АО «КС Керамик»
							+img(src="img/signature.svg", alt="").signature
			+e.item#video
				+b.video-link(href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-', data-fancybox=`video-1`)
					+img('img/video-bg-about.png', 'bg')
					+e.icon-wrapper
						+icon('play')
						+e.sub-text.small Смотреть видео
				.content-item
					+b.card-item
						+sTitleItem('Прогулка по производству')
						+e.text-wrapper
							p АО «КС Керамик» — современное предприятие, выпускающее более 300 видов лицевых керамических изделий по сочетанию цены, дизайна и эксплуатационных характеристик, конкурирующих с лучшими мировыми производителями.
			+e.slider--js
				.swiper-wrapper
					+e.slide.swiper-slide
						+e.img-wrap.bg-wrap
							+img("img/about-slide.png", 'bg')
						.caption-slide Массоподготовка
					+e.slide.swiper-slide
						+e.img-wrap.bg-wrap
							+img("img/about-slide.png", 'bg')
						.caption-slide Массоподготовка
					+e.slide.swiper-slide
						+e.img-wrap.bg-wrap
							+img("img/about-slide.png", 'bg')
						.caption-slide Массоподготовка
				+arrow()
		.container.white-section
			+b.attachments
				h2 Учредительные документы
				+e.files
					+linkFile('Лист записи ЕГРЮЛ', '3,4 МБ')
					+linkFile('Реквизиты АО «КС Керамик»', '3,4 МБ')
					+linkFile('Свидетельство о государственной регистрации юридического лица АО «КС Керамик»', '3,4 МБ')
	// end sAbout


mixin advantageAbout(i, text)
	+b.advantage-about
		.span= i
		.small= text

mixin cardSquareEasy(i, text, icon)
	+b.card-square-item--darken(style=`background-image:url(img/card-sq-${i}.png);`)
		.h2.text-center!= text


mixin sAboutCareer(data)
	// start sAbout
	+b.SECTION.sAbout--career.section#sCareer&attributes(attributes)
		.container-max
			.design-block.design-block--1
				+cardSquareEasy('11', 'Мастерство')
				+b.card-square-item--2
					.wrap
						.descr
							p Это ключевой атрибут. Это человечный и творческий профессионализм, владение в совершенстве всеми необходимыми в индустрии навыками, техниками, технологиями — и вместе с тем профессиональное личное стремление и страсть постоянно их развивать и совершенствовать.
							p Из мастерства каждого из нас складывается бескомпромиссное качество и красота каждого кирпича и партии любого масштаба.
				+cardSquareEasy('12', 'Этичность')
				+b.card-square-item--2
					.wrap
						.descr
							p Настоящий мастер не просто отвечает за качество — он создает и дорожит своим именем и репутацией, на любом этапе своего дела, во всём. Качественный, совершенный результат большого общего дела возможен только при личном этичном отношении каждого к своему делу.
							p Мы относимся к каждому сотруднику как К мастеру — требуем от него мастерства.

				+cardSquareEasy('13', 'Эстетичность')
				+b.card-square-item--2
					.wrap
						.descr
							p Настоящий мастер не просто удовлетворяет клиентские потребности: всё, что он создаёт и что с его участием создают другие, должно быть уникальным, неповторимым и бескомпромиссным воплощением замысла, идеи, индивидуальности — лично его, его коллег по цеху, его партнёров по проекту, его клиентов по договору.
							p Стремление к совершенству — в качестве, в постоянном эксперименте, даже в «эстетике несовершенства» — делает мастерство искусством, к которому причастен каждый, кто работает у нас.
			//- +e.row.row
		.container
			+e.item#advantages.white-section
				+e.title-wrap
					+b.title-item
						.h1 Три причины работать с нами
					+e.img-wrap.bg-wrap
						+img(`img/about.png`, 'bg')
				+e.advantages
					+advantageAbout(1, 'Мы быстрорастущая перспективная компания, работа в которой гарантирует вам крепкую финансовую стабильность.')
					+advantageAbout(2, 'Наш коллектив — открытые, целеустремленные люди действия. Мы готовы вкладывать и обучать нашу команду и бережем каждого, как бесценную находку.')
					+advantageAbout(3, 'Корпоративная культура для нас — не пустой звук. Мы стараемся чаще объединять своих сотрудников вне офиса и узнавать друг друга лучше.')
		.container-max
			.design-block.design-block--2
				+cardSquareBrand2('9', 'Оставьте отклик')
				+b.card-square-item--2.card-square-item--sand
					.wrap
						.h2 Контакты HR<br>и почта для резюме
						.contacts-list
							ul
								li
									+icon('profile')
									| Ведерникова Оксана
								li
									a(href='tel:+79120081398')
										+icon('phone')
										| +7 (912) 008-13-98
								li
									a(href='mailto:onv@kckz.ru')
										+icon('mail')
										| onv@kckz.ru
	// end sAbout


mixin cardSquareBrand2(i, text)
	+b.card-square-item--1(style=`background-image:url(img/card-sq-${i}.png);`)
		.text-wrapper
			.h2.text-center!= text
			+e.btn.btn.btn-primary Написать