mixin sContent
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+b.section-title
			+sContentItem('Уважаемые каменщики!', 'В строительстве фасада здания мы предлагаем использовать лицевой керамический кирпич коллекций «Мастер Керамик», «Kôningstein», «Edelhaus Klinker» и ТМ «Mod Format», соблюдая инструкцию по ведению кирпичной кладки.','Кирпич в разных поддонах может отличаться по оттенку.  Для ведения кладки обязательно смешивайте кирпич одновременно из четырех поддонов, чтобы избежать появления пятен на фасаде.')
			+b.video-link(data-fancybox='video-gallery', href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-')
				+img('img/video-bg-brick-0.png', 'bg')
				+e.icon-wrapper
					+icon('play')
					+e.sub-text.small Смотреть видео
			.content-item: +sCardItemText('Правила ведения хаотичной кладки из кирпича тм «Mod Format»', 'Рекомендуем начинать кладочные работы после поступления всего объема продукции. Для максимального смешивания оттенков в кладке вести работы следует, используя 3-5 поддонов одновременно. Внимание! Кирпич в поддонах уложен лицевой стороной вверх. Используйте поочередный произвольный разбор поддонов. Для этого берите по 2-3 кирпича с разных сторон поддонов не рядами сверху, а проникая вглубь. Основное условие хаотичной кладки –произвольное расположение вертикальных швов в рядах без их повторяемости друг над другом. Для этого сочетаем в кладке целые и подрезанные при помощи каменнорезного станка кирпичи переменной длины. Перед началом кладочных работ рекомендуем выполнить небольшой фрагмент кладки «на сухую» (без раствора) для оценки ее вида и соответствия ожиданиям заказчика. В процессе работы замеряем требуемую длину кирпича для соблюдения условия бегающего шва. Производим распил кирпича требуемой длины с помощью каменнорезного станка. Чередуем кирпич цельной длины, тычки и подготовленные подрезанные элементы. Максимально перемешиваем кирпич, ведем кладку, выбирая кирпич из перемешенной партии беспорядочно и хаотично. Не следует создавать строгий рисунок. Правильное сочетание оттенков кирпича в кладке формирует правильное эстетическое восприятие. С помощью хаотичной кладки получится подчеркнуть красоту кирпича, уникальные очертания фасада и качественную архитектуру дома.')
			+b.video-link(data-fancybox='video-gallery', href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-')
				+img('img/video-bg-brick-1.png', 'bg')
				+e.icon-wrapper
					+icon('play')
					+e.sub-text.small Смотреть видео
			.content-item: +sCardItemList('Правила ведения Баварской кладки', 'Желательно начинать кладку после поступления всего объёма продукции на объект. Это позволит оценить цветовую гамму кирпича.', 'Установить к месту ведения работ 3-5 поддонов разного оттенка. Ведение кладки из нескольких упаковок обеспечит перемешивание кирпича и равномерное распределение разных его оттенков.', 'Достать из каждой упаковки по 6-8 кирпичей и перемешать их между собой.', 'Выложить часть стены из получившейся партии (захватку). Перед началом работ рекомендуем выполнить небольшой фрагмент «на сухую» (без раствора) для оценки вида кладки и соответствия ожиданиям заказчика.', 'Повторять пункт 3,4 до окончания работ. Стараться максимально перемешивать кирпич, вести кладку, выбирая кирпич из перемешенной партии беспорядочно и хаотично.', 'Не пытаться создать строгий рисунок.', 'Правильное сочетание оттенков кирпича в кладке формирует правильное эстетическое восприятие.')
			.content-item
				p Внимание! В поддоне кирпич уложен лицевой стороной вверх. На задней стороне кирпича также имеется фактура, не используйте ее в качестве лицевой!
				p Желаем Вам удачного строительства и довольных заказчиков!
				+b.picture-item--info
					+e.img-wrap.bg-wrap
						+img(`img/bg-brick-5-1.png`, 'bg')
						//- +b.title-item
						//- 	h3 Лицевая и оборотная стороны кирпича
					+e.text.text-secondary.small Лицевая и оборотная сторона кирпича
			.content-item
				h2 Кирпич объемных возможностей
				p Использование всех свойств и качеств керамического и клинкерного кирпича ModFormat позволяет применять его как отделочный материал с самыми широкими возможностями формообразования.
				p Для реализации нестандартных современных решений, в которых наряду с привычными плоскими фасадами применяются объемные или рельефные элементы, ажурная кирпичная кладка, арки, глубокий рисунок фасада или даже бразильская кладка, кирпич может выпускаться в выбранной цветовой гамме, но с разной пустотностью:
				ul
					li Пустотелый
					li Полнотелый с пустотностью до 13% (условно-полнотелый)
					li Полнотелый
			.content-item
				p Это дает возможность претворять в жизнь сложный рельеф с архитектурными элементами, создавая уникальные и красивые объекты, в которых объединяются практичность и эстетика.
				p Создание особой пластики фасада, реализованной при помощи ритмических закономерностей, гармоничного взаимодействия плоскостных и пластических решений, в которых выразительность достигается градацией светотени, цепляют взгляд, усиливая визуальное восприятие объекта и повышая его художественную значимость.
				p Подчеркнуть объем на фасаде сложными архитектурными формами = добиться стильного и индивидуального фасада.
				p Применение полнотелого клинкерного кирпича на выступающих элементах выступает гарантом качества и долговечности фасада.
				+e.slider--js
					.swiper-wrapper
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
					+arrow()
					+e.text-picture.text-secondary.small Объемные кладки
			.content-item
				h2 Влияние применяемой кладки на восприятие кирпичной стены.
				p Производство и применение удлиненного керамического и клинкерного кирпича связано с большой трудоемкостью, но эти затраты компенсируются совершенно неповторимым рисунком кладки из этого кирпича. Это воплощение иных пропорций.
				p Применяя кирпич коллекции ModFormat, можно не только создать прочное и функциональное сооружение, но и придать ему индивидуальный стиль при помощи особого расположения кирпича в кладке.
				p В таком случае ложковые кладки в ½, 1/3, ¼ кирпича дают стереотипное восприятие образа кирпичной стены.
				+sPictureItem('1', 'Кладка ½, смещение на 1/3')
			.content-item
				p Визуально вытянуть горизонталь строения, подчеркнуть индивидуальность фасада и необычный формат кирпича позволяет хаотичная кладка, в которой вертикальные швы расположены произвольно, без повторяемости друг над другом. Обеспечить это условие позволит сочетание целых кирпичей в кладке со вставками подрезанного кирпича переменной длины. Хаотичное смещение вертикального шва создает неповторимый рисунок на фасаде и позволяет использовать весь кирпич без остатка.
				p Особый внешний вид фасаду придает сочетание ложков и тычков в кладке. Такая перевязка может подойти для формирования изогнутых в плоскости конструкций.
				+sPictureItem('2', 'Хаотичная кладка')
			.content-item
				p Расставить акценты и воплотить амбициозные архитектурные проекты позволяют вертикальные кладки, в которых кирпич укладывается под углом 90°, а также диагональные кирпичные кладки, создающие оригинальный, цепляющий взгляд, рисунок перевязки.
				+sPictureItem('3', 'Вертикальная кладка')
				+e.img-wrap.bg-wrap--mt
					+img(`img/bg-brick-4.png`, 'bg')
				p Работа с кирпичом — это виртуозный навык, ремесло и даже искусство. Поэтому всех так восхищают и завораживают ажурные и декоративные кладки, визуально облегчающие стену и изменяющие пространство. Это особое мастерство!
			+sContentItem('Шов', 'Наряду с использованием разных видов кладок и перевязок кирпича придать индивидуальный внешний вид фасаду поможет изменение толщины шва.')
			.content-item
				h2 Общие правила работы с кирпичом при ведении кладки. Информация для каменщиков.
				p Наряду с использованием разных видов кладок и перевязок кирпича придать индивидуальный внешний вид фасаду поможет изменение толщины шва.
				h4 Мастерство Кладки: Секреты Профессионалов
				p Рекомендуем начинать кладочные работы после поступления всего объема продукции. Для максимального смешивания оттенков в кладке вести работы следует, используя 3-5 поддонов одновременно. Обращаем Ваше внимание, что кирпич в поддонах уложен лицевой стороной вверх. Используйте поочередный произвольный разбор поддонов. Для этого берите по 2-3 кирпича с разных сторон поддонов не рядами сверху, а проникая вглубь.
				p Перед началом кладочных работ рекомендуем выполнить небольшой фрагмент кладки «на сухую» (без раствора) для оценки ее вида и соответствия ожиданиям заказчика.
	// end sContent


mixin sContentItem(title, ...texts)
	.content-item
		h2!= title
		each text in texts
			p= text

mixin sPictureItem(i, text)
	+b.picture-item
		+e.img-wrap.bg-wrap
			+img(`img/bg-brick-${i}.png`, 'bg')
		+e.text.text-secondary.small!= text

mixin sTitleItem(text)
	+b.title-item
		h4!= text

mixin sCardItemText(title, text)
	+b.card-item
		+sTitleItem(title)
		+e.text-wrapper
			p!= text
		+e.btn.btn.btn-primary(href='#', target='_blank') Скачать инструкцию
			+icon('download')

mixin sCardItemList(title, ...items)
	+b.card-item
		+sTitleItem(title)
		+e.text-wrapper
			ol
				each item in items
					li!= item
		+e.btn.btn.btn-primary(href='#', target='_blank') Скачать инструкцию
			+icon('download')
