mixin sContent
	// start sContent
	+b.SECTION.sContent.section#sContentBrick&attributes(attributes)
		.container
			+sContentItemBig('Уважаемые каменщики!', 'В строительстве фасада здания мы предлагаем использовать лицевой керамический кирпич коллекций «Мастер Керамик», «Kôningstein», «Edelhaus Klinker» и ТМ «Mod Format», соблюдая инструкцию по ведению кирпичной кладки.','Кирпич в разных поддонах может отличаться по оттенку.  Для ведения кладки обязательно смешивайте кирпич одновременно из четырех поддонов, чтобы избежать появления пятен на фасаде.')
			+b.video-link(href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-', data-fancybox=`video-1`)
				+img('img/video-bg-brick-0.png', 'bg')
				+e.icon-wrapper
					+icon('play')
					+e.sub-text.small Смотреть видео
			.content-item: +sCardItemText('Правила ведения хаотичной кладки из кирпича тм «Mod Format»', 'Рекомендуем начинать кладочные работы после поступления всего объема продукции. Для максимального смешивания оттенков в кладке вести работы следует, используя 3-5 поддонов одновременно. Внимание! Кирпич в поддонах уложен лицевой стороной вверх. Используйте поочередный произвольный разбор поддонов. Для этого берите по 2-3 кирпича с разных сторон поддонов не рядами сверху, а проникая вглубь. Основное условие хаотичной кладки –произвольное расположение вертикальных швов в рядах без их повторяемости друг над другом. Для этого сочетаем в кладке целые и подрезанные при помощи каменнорезного станка кирпичи переменной длины. Перед началом кладочных работ рекомендуем выполнить небольшой фрагмент кладки «на сухую» (без раствора) для оценки ее вида и соответствия ожиданиям заказчика. В процессе работы замеряем требуемую длину кирпича для соблюдения условия бегающего шва. Производим распил кирпича требуемой длины с помощью каменнорезного станка. Чередуем кирпич цельной длины, тычки и подготовленные подрезанные элементы. Максимально перемешиваем кирпич, ведем кладку, выбирая кирпич из перемешенной партии беспорядочно и хаотично. Не следует создавать строгий рисунок. Правильное сочетание оттенков кирпича в кладке формирует правильное эстетическое восприятие. С помощью хаотичной кладки получится подчеркнуть красоту кирпича, уникальные очертания фасада и качественную архитектуру дома.')
			+b.video-link(data-fancybox='video-2', href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-')
				+img('img/video-bg-brick-1.png', 'bg')
				+e.icon-wrapper
					+icon('play')
					+e.sub-text.small Смотреть видео
			.content-item: +sCardItemList('Правила ведения Баварской кладки', 'Желательно начинать кладку после поступления всего объёма продукции на объект. Это позволит оценить цветовую гамму кирпича.', 'Установить к месту ведения работ 3-5 поддонов разного оттенка. Ведение кладки из нескольких упаковок обеспечит перемешивание кирпича и равномерное распределение разных его оттенков.', 'Достать из каждой упаковки по 6-8 кирпичей и перемешать их между собой.', 'Выложить часть стены из получившейся партии (захватку). Перед началом работ рекомендуем выполнить небольшой фрагмент «на сухую» (без раствора) для оценки вида кладки и соответствия ожиданиям заказчика.', 'Повторять пункт 3,4 до окончания работ. Стараться максимально перемешивать кирпич, вести кладку, выбирая кирпич из перемешенной партии беспорядочно и хаотично.', 'Не пытаться создать строгий рисунок.', 'Правильное сочетание оттенков кирпича в кладке формирует правильное эстетическое восприятие.')
			.content-item--big
				p Внимание! В поддоне кирпич уложен лицевой стороной вверх. На задней стороне кирпича также имеется фактура, не используйте ее в качестве лицевой!
				p Желаем Вам удачного строительства и довольных заказчиков!
				+b.picture-item--info
					+e.img-wrap.bg-wrap
						+img(`img/bg-brick-5-1.png`, 'bg')
						//- +b.title-item
						//- 	h3 Лицевая и оборотная стороны кирпича
					+e.text.text-secondary.small Лицевая и оборотная сторона кирпича
			.content-item
				h2 Кирпич объемных возможностей
				p Использование всех свойств и качеств керамического и клинкерного кирпича ModFormat позволяет применять его как отделочный материал с самыми широкими возможностями формообразования.
				p Для реализации нестандартных современных решений, в которых наряду с привычными плоскими фасадами применяются объемные или рельефные элементы, ажурная кирпичная кладка, арки, глубокий рисунок фасада или даже бразильская кладка, кирпич может выпускаться в выбранной цветовой гамме, но с разной пустотностью:
				ul
					li Пустотелый
					li Полнотелый с пустотностью до 13% (условно-полнотелый)
					li Полнотелый
			.content-item
				p Это дает возможность претворять в жизнь сложный рельеф с архитектурными элементами, создавая уникальные и красивые объекты, в которых объединяются практичность и эстетика.
				p Создание особой пластики фасада, реализованной при помощи ритмических закономерностей, гармоничного взаимодействия плоскостных и пластических решений, в которых выразительность достигается градацией светотени, цепляют взгляд, усиливая визуальное восприятие объекта и повышая его художественную значимость.
				p Подчеркнуть объем на фасаде сложными архитектурными формами = добиться стильного и индивидуального фасада.
				p Применение полнотелого клинкерного кирпича на выступающих элементах выступает гарантом качества и долговечности фасада.
				+e.slider--js
					.swiper-wrapper
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
					+arrow()
					+e.text-picture.text-secondary.small Объемные кладки
			.content-item
				h2 Влияние применяемой кладки на восприятие кирпичной стены.
				p Производство и применение удлиненного керамического и клинкерного кирпича связано с большой трудоемкостью, но эти затраты компенсируются совершенно неповторимым рисунком кладки из этого кирпича. Это воплощение иных пропорций.
				p Применяя кирпич коллекции ModFormat, можно не только создать прочное и функциональное сооружение, но и придать ему индивидуальный стиль при помощи особого расположения кирпича в кладке.
				p В таком случае ложковые кладки в ½, 1/3, ¼ кирпича дают стереотипное восприятие образа кирпичной стены.
				+sPictureItem('1', 'Кладка ½, смещение на 1/3')
			.content-item
				p Визуально вытянуть горизонталь строения, подчеркнуть индивидуальность фасада и необычный формат кирпича позволяет хаотичная кладка, в которой вертикальные швы расположены произвольно, без повторяемости друг над другом. Обеспечить это условие позволит сочетание целых кирпичей в кладке со вставками подрезанного кирпича переменной длины. Хаотичное смещение вертикального шва создает неповторимый рисунок на фасаде и позволяет использовать весь кирпич без остатка.
				p Особый внешний вид фасаду придает сочетание ложков и тычков в кладке. Такая перевязка может подойти для формирования изогнутых в плоскости конструкций.
				+sPictureItem('2', 'Хаотичная кладка')
			.content-item--big
				p Расставить акценты и воплотить амбициозные архитектурные проекты позволяют вертикальные кладки, в которых кирпич укладывается под углом 90°, а также диагональные кирпичные кладки, создающие оригинальный, цепляющий взгляд, рисунок перевязки.
				+sPictureItem('3', 'Вертикальная кладка')
				+e.img-wrap.bg-wrap--mt
					+img(`img/bg-brick-4.png`, 'bg')
				p Работа с кирпичом — это виртуозный навык, ремесло и даже искусство. Поэтому всех так восхищают и завораживают ажурные и декоративные кладки, визуально облегчающие стену и изменяющие пространство. Это особое мастерство!
			+sContentItemBig('Шов', 'Наряду с использованием разных видов кладок и перевязок кирпича придать индивидуальный внешний вид фасаду поможет изменение толщины шва.')
			.content-item
				h2 Общие правила работы с кирпичом при ведении кладки. Информация для каменщиков.
				p Наряду с использованием разных видов кладок и перевязок кирпича придать индивидуальный внешний вид фасаду поможет изменение толщины шва.
				h4 Мастерство Кладки: Секреты Профессионалов
				p Рекомендуем начинать кладочные работы после поступления всего объема продукции. Для максимального смешивания оттенков в кладке вести работы следует, используя 3-5 поддонов одновременно. Обращаем Ваше внимание, что кирпич в поддонах уложен лицевой стороной вверх. Используйте поочередный произвольный разбор поддонов. Для этого берите по 2-3 кирпича с разных сторон поддонов не рядами сверху, а проникая вглубь.
				p Перед началом кладочных работ рекомендуем выполнить небольшой фрагмент кладки «на сухую» (без раствора) для оценки ее вида и соответствия ожиданиям заказчика.
	// end sContent

mixin sContentItem(title, ...texts)
	.content-item
		h2!= title
		each text in texts
			p= text

mixin sContentItemBig(title, ...texts)
	.content-item--big
		h2!= title
		each text in texts
			p= text

mixin sPictureItem(i, text)
	+b.picture-item
		+e.img-wrap.bg-wrap
			+img(`img/bg-brick-${i}.png`, 'bg')
		+e.text.text-secondary.small!= text

mixin sCardItemText(title, text)
	+b.card-item
		+sTitleItem(title)
		+e.text-wrapper
			p!= text
		+e.btn.btn.btn-primary.btn-reverse(href='#', target='_blank') Скачать инструкцию
			+icon('download')

mixin sCardItemList(title, ...items)
	+b.card-item
		+sTitleItem(title)
		+e.text-wrapper
			ol
				each item in items
					li!= item
		+e.btn.btn.btn-primary.btn-reverse(href='#', target='_blank') Скачать инструкцию
			+icon('download')

mixin cardBrand(i, icon, text)
	+b.card-brand-item(href='#', target='_blank')
		+e.img-wrap.bg-wrap
			+img(`img/card-bg-${i}.png`, 'bg')
		+e.descr
			+img(src=`img/${icon}.svg`, alt="")
			.wrap
				.small!= text
				+e.btn.btn.btn-primary Перейти в каталог

mixin cardSquare(i, text, icon)
	+b.card-square-item
		+img(`img/card-sq-${i}.png`, 'bg')
		.h2.text-center!= text
		+img(src=`img/${icon}.svg`, alt="").brand

mixin cardSquare2(i, icon, text)
	+b.card-square-item--2
		+img(`img/card-sq-${i}.png`, 'bg')
		.wrap
			+img(src=`img/${icon}.svg`, alt="").brand-small
			+e.texts!= text

mixin infoItem(span, title, text)
	+b.info-item
		p #[span!= span] #[!= title]
		p!= text

mixin sContentOvenMaker
	// start sContent
	+b.SECTION.sContent.section#sContentOven&attributes(attributes)
		.container
			.section-title
				+sTitleItem('Коллекции')
			+e.row.row
				.col-12.col-md-6
					+cardBrand('1', 'master-ceramic', 'Классическая коллекция полнотелого печного кирпича')
				.col-12.col-md-6
					+cardBrand('2', 'konigstein', 'Коллекция премиального печного кирпича')
		.design
			+cardSquare('1', 'Покоряет дизайном', 'konigstein')
			+b.card-square-item--2
				.wrap
					+img(src=`img/crown.svg`, alt="").brand-small.d-none.d-md-block
					+e.texts
						p Наша палитра способна удовлетворить самые изысканные вкусы и воплотить в жизнь любые дизайнерские идеи для создания неповторимого и стильного облика вашего дома.
						p Мы предлагаем широкий спектр цветовых решений, начиная от классических оттенков — таких как Марксбург Кварц — до современных и эксклюзивных — например Мангейм Шварц.
						p Наши цветовые решения предлагают широкий спектр для воплощения любых архитектурных и дизайнерских идей. Каждый цвет кирпича уникален и способен придать вашему проекту особый характер.
			+cardSquare2('4', 'master', 'Радиусный полнотелый лицевой кирпич R60')
			+cardSquare('2', 'Вся палитра производимых оттенков в двух геометрических решениях!', 'master-ceramic')
			+cardSquare('3', 'Свойства полнотелого кирпича Königstein', 'konigstein')
			+b.card-square-item--2.card-square-item--3
				.wrap
					.wrap-2
						+infoItem('M300', '', 'марка прочности')
						+infoItem('8-12', '%', 'водопоглощение')
						+b.info-item
							p от #[span F75]
							p морозостойкость кирпича на основе красной глины
						+infoItem('0,66', ' Вт/м°с', 'теплопроводность')
						+b.info-item
							p до #[span F100]
							p морозостойкость кирпича на основе светлой глины
						+b.info-item
							p размер 250х120х65
							p вес 3.9 кг
		.container
			.content-item
				h2 Письмо председателя Русского Печного Общества Серёгина Сергея Ивановича о разработке конструкции комбинированной отступки «КС-Керамик»
				h4 Способы защиты сгораемой поверхности строительных конструкций.
				p В отечественных противопожарных нормах регламентировано два способа защиты сгораемой поверхности строительных конструкций: выполнение разделки или отступки.
				p Разница этих двух способов заключается в том, что при выполнении разделки зазор полностью заполнен негорючим материалом, а при выполнении отступки зазор остается полностью свободным (вентилируемым).
				p Общаясь с коллегами из стран Европы, я обратил внимание на широкое применение комбинированного способа, при котором для противопожарной защиты сгораемых строительных поверхностей используются дополнительные несгораемые перегородки и воздушные промежутки между этими перегородками и нагреваемой поверхностью печи.
				p Справедливости ради надо сказать, что в прошлом в России также применялся подобный способ защиты сгораемой поверхности под названием «холодная четверть». При этом у защищаемой стены строилась перегородка из кирпича, установленного на ребро, а печь устанавливалась с зазором от этой перегородки. Зазор при этом был вентилируемым. Идея, что называется «витала в воздухе» и после ряда встреч со специалистами Кирово-Чепецкого кирпичного завода она была окончательно оформлена в план действий.
				p Обоснованием законности разработки данной конструкции стал пункт 5.27 СП 7.13130.2013 «Отопление, вентиляция и кондиционирование. Требования пожарной безопасности»: 5.27 Размеры разделок и отступок дымовых каналов теплогенерирующих аппаратов (в том числе каминов) следует принимать в соответствии с технической документацией завода-изготовителя.
				p Была предложена комбинированная отступка с использованием керамического кирпича 1NF марки М250 производства Кирово-Чепецкого кирпичного завода. Отступка состоит из вентилируемого воздушного зазора и сплошной стенки из кирпича, поставленного на ребро, которая дополнительно защищает сгораемую поверхность. Вентилируемый воздушный зазор шириной не менее 65мм. Отступка своей наружной поверхностью примыкает к сгораемой поверхности, защищенной стандартным способом (8 мм асбеста и слой жести толщиной 0,5мм).
			.content-item
				h4 Результаты проведенных испытаний.
				p С целью определения работоспособности предлагаемого варианта отступки, были проведены натурные испытания, которые выполнили специалисты сертифицированной испытательной пожарной лаборатории МЧС России по республике Карелия.
				p В процессе испытаний в печи было сожжено 70 кг дров, что составляет четырехкратное превышение расчетного объема для данной печи. Продолжительность непрерывной топки печи составила 6,5 часов (при допускаемой 3часа для печей периодической топки)
				p На поверхности печи была достигнута температура 112°С при допускаемой 90°С. Допускаемая температура на сгораемой поверхности 50°С была превышена только через 7,5 часов после начала топки печи (при регламентированных 4-х часах).
				p Результатом проведенной работы стал узел для теплоёмкой печи периодического действия (длительностью горения не более 3 часов) с толщиной стенок не менее 160 мм.
				p Конструктивно вентилируемая отступка состоит из (начиная от печи):
				ul
					li Закрытого воздушного зазора 65 мм, имеющего продухи с обеих сторон отступки в ее верхней и нижней зоне площадью не менее 150 см² каждый
					li Защитной стенки из полнотелого керамического кирпича Производство «КС-керамик» толщиной 65 мм
					li Защиты сгораемой поверхности согласно пункта 5.21 СП 7.13130.2013 (8 мм асбеста закрытого металлическим листом)
				p Таким образом, расстояние от поверхности печи до сгораемой поверхности в предложенном варианте составляет всего 130мм, вместо регламентированных 260мм для стандартной закрытой вентилируемой отступки.
				p Данную конструкцию отступки можно применять при условии составления акта скрытых работ с фото фиксацией. Более подробную информацию о том как правильно производить фото фиксацию в ходе работ можно получить из презентации 
					+e.btn.btn-link(href='#') «Юридические аспекты сдачи печных объектов заказчику»
					|, подготовленную специалистами компании «КАМИ — Печной  Центр».
				p Применение комбинированной отступки КС-Керамик позволяет более рационально устанавливать теплоёмкие печи периодической топки в отапливаемых помещениях.
				+e.sign
					p С уважением!<br> Серёгин Сергей Иванович
					.small Председатель Русского Печного Общества
			+b.attachments
				+sTitleItem('Приложения')
				+e.files
					+linkFile('Заключение ФГБУ «Испытательная пожарная лаборатория по Республике Карелия» по испытаниям комбинированной отступки закрытой вентилируемой КС-Керамик.', '3,4 МБ')
					+linkFile('Протокол испытаний отступки закрытой вентилируемой.', '3,4 МБ')
					+linkFile('Презентация «Юридические аспекты сдачи печных объектов заказчику».', '3,4 МБ')
					+linkFile('Письмо-рекомендация по использованию разделки КС-Керамик.', '3,4 МБ')
				+e.btn.btn.btn-outline-secondary.btn-reverse(href='#') Скачать все приложения
					+icon('download')

mixin sContentArchitect
	// start sContent
	+b.SECTION.sContent.section#sContentArchitects&attributes(attributes)
		.container
			p Уважаемые архитекторы и проектировщики! Предлагаем вам использовать кирпичные кладки для лучшей демонстрации фасадов в проектах. Качество нашего лицевого кирпича по достоинству оценили дизайнеры по всей России и ближнего зарубежья.
			.attachments-wrapper
				+sTitleItem('Текстуры')
				mixin albumItem(i, brand, title, type, icon)
					+b.album-item(href='#', target='_blank' class=`${brand}`)
						+e.img-wrap.bg-wrap
							+img(`img/album-bg-${i}.png`, 'bg')
						+e.descr
							+img(src=`img/${brand}.svg`, alt="")
							.wrap
								+e.title!= title
								.type-wrap
									.type.small!= type
									+icon(icon)
				+e.row.row
					.col-12.col-md-6
						+albumItem('1', 'edelhaus', 'Текстуры «Edelhaus Klinker»', 'PNG', 'attach')
					.col-12.col-md-6
						+albumItem('2', 'konigstein-dark', 'Текстуры «Kôningstein»', 'PNG', 'attach')
					.col-12.col-md-6
						+albumItem('3', 'modformat', 'Текстуры «Mod Format»', 'PNG', 'attach')
					.col-12.col-md-6
						+albumItem('4', 'master-ceramic', 'Текстуры «Мастер Керамик»', 'PNG', 'attach')
				+e.btn.btn.btn-outline-secondary.btn-reverse(href='#') Скачать все альбомы
					+icon('download')
			.attachments-wrapper
				+sTitleItem('Альбомы')
				+e.row.row
					.col-12.col-md-6
						+albumItem('5', 'edelhaus', 'Текстуры «Edelhaus Klinker»', 'PDF • 3,4 МБ', 'download')
					.col-12.col-md-6
						+albumItem('6', 'konigstein-dark', 'Текстуры «Kôningstein»', 'PDF • 3,4 МБ', 'download')
					.col-12.col-md-6
						+albumItem('7', 'modformat', 'Текстуры «Mod Format»', 'PDF • 3,4 МБ', 'download')
					.col-12.col-md-6
						+albumItem('8', 'master-ceramic', 'Текстуры «Мастер Керамик»', 'PDF • 3,4 МБ', 'download')
				+e.btn.btn.btn-outline-secondary.btn-reverse(href='#') Скачать все альбомы
					+icon('download')
			.attachments-wrapper
				h3 Архитектурные проекты
				mixin architectureProject(i, title, brand, name, city)
					+b.architecture-project
						+e.img-wrap.bg-wrap
							+img(`img/project-bg-${i}.png`, 'bg')
						+e.title-wrap
							+e.title.small!= title
							+img(src=`img/${brand}.svg`, alt="")
						+e.name-wrap.small
							+e.name.fw-600!= name
							+e.city!= city
				+e.row.row
					.col-12.col-md-6
						+architectureProject('1', 'ТМ Кенигштайн Эрфурст Вюсте', 'edelhaus', 'GloraX Premium Белорусская', 'Москва')
					.col-12.col-md-6
						+architectureProject('2', 'ТМ Модформат Мангейм Сепия', 'modformat-dark', 'GloraX Premium Белорусская', 'Комсомольск-на-Амуре')
			.content-item
				h2 Воплощение архитектурных замыслов в реальность
				p Использование всех свойств и качеств керамического и клинкерного кирпича разной пустотности позволяет применять его как отделочный материал с самыми широкими возможностями формообразования.
				p Для реализации нестандартных современных решений, в которых наряду с привычными плоскими фасадами применяются объемные или рельефные элементы, ажурная кирпичная кладка, арки, глубокий рисунок фасада или даже бразильская кладка, кирпич может выпускаться в выбранной цветовой гамме, но с разной пустотностью:
				ul
					li Пустотелый
					li Полнотелый с пустотностью до 13% (условно-полнотелый)
					li Полнотелый
				p Это дает возможность претворять в жизнь сложный рельеф с архитектурными элементами, создавая уникальные и красивые объекты, в которых объединяются практичность и эстетика.
				p Создание особой пластики фасада, реализованной при помощи ритмических закономерностей, гармоничного взаимодействия плоскостных и пластических решений, в которых выразительность достигается градацией светотени, цепляют взгляд, усиливая визуальное восприятие объекта и повышая его художественную значимость.
				p Подчеркнуть объем на фасаде сложными архитектурными формами — значит добиться стильного и индивидуального фасада.
				+e.slider--js
					.swiper-wrapper
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap
								+img("img/bg-brick-0.png", 'bg')
					+arrow()
					+e.text-picture.text-secondary.small Объемные кладки

mixin linkFile(title, size)
	// start linkFile
	+b.link-file(href='#', target='_blank')
		+img('img/file-pdf.svg').img
		+e.descr.small
			+e.title.fw-600!= title
			+e.size!= `PDF • ${size}`
		+icon('download')
