mixin sGallery(data)
	// start sGallery
	+b.SECTION.sGallery.section#sGallery&attributes(attributes)
		.container
			.tabs
				.tabs__caption
					.tabs__btn.swiper-slide.active(data-content="photo") Фотогалерея
					.tabs__btn.swiper-slide(data-content="video") Видеогалерея
					+b.wrap-filter--photo(data-content="photo")
						+b.filters-wrapper--video.white-bg-modal#video-filters.d-md-none
							.container.container-flex.container-decoration
								+e.title.fw-600.text-center Тема видео
								.items
									+e.wrap.filter.small
										.custom-scroll()
											+in-c("checkbox", 'Дом с характером. 1 сезон')
											+in-c("checkbox", 'Дом с характером. 2 сезон')
											+in-c("checkbox", 'Объекты')(checked)
								.btn-wrap.d-md-none
									+e.btn.btn.btn-outline-secondary(href='#') Сбросить
									+e.btn.btn.btn-primary.btn-apply--js(href='#') Применить

						+b.filters-wrapper.white-bg-modal#photo-filters
							.container.container-flex.container-decoration
								+e.title.fw-600.d-md-none.text-center Фильтры
								.btn-back.small.d-none.d-md-none Назад
								.items
									+b.filter.selected
										+e.title.small.fw-600 Регион
										+e.wrap.small
											.custom-scroll()
												+in-c("radio", 'Москва')
												+in-c("radio", 'Санкт-Петербург')
												+in-c("radio", 'Адыгея Республика')(checked)
												+in-c("radio", 'Кострома')
												+in-c("radio", 'Киров')
												+in-c("radio", 'Москва')
												+in-c("radio", 'Саратов')
									+b.filter
										+e.title.small.fw-600 Вид постройки
										+e.wrap.small
											.custom-scroll()
												+in-c("checkbox", 'Многоэтажные дома')(checked)
												+in-c("checkbox", 'Частные дома/коттеджи')
												+in-c("checkbox", 'Печи/камины')
									+b.filter--color
										+e.title.small.fw-600 Цветовая группа
										+e.wrap.small
											.custom-scroll()
												.wrap
													+b.color-wrap--red: +in-c("checkbox", 'Красный')(checked)
													+b.color-wrap--light: +in-c("checkbox", 'Светлый')
													+b.color-wrap--dark: +in-c("checkbox", 'Тёмный')
													+b.color-wrap--red: +in-c("checkbox", 'Красный')
													+b.color-wrap--dark: +in-c("checkbox", 'Тёмный')
													+b.color-wrap--light: +in-c("checkbox", 'Светлый')
													+b.color-wrap--dark: +in-c("checkbox", 'Тёмный')
									+b.filter
										+e.title.small.fw-600 Цвет
										+e.wrap.small
											.custom-scroll()
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')(checked)
												+in-c("checkbox", 'Кёльн')(checked)
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')
												+in-c("checkbox", 'Кёльн')(checked)
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')(checked)
												+in-c("checkbox", 'Кёльн')(checked)
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')
												+in-c("checkbox", 'Кёльн')(checked)
								.btn-wrap.d-md-none
									+e.btn.btn.btn-outline-secondary(href='#') Сбросить
									+e.btn.btn.btn-primary.btn-apply--js(href='#') Применить
				+b.brands.white-bg-modal#brands
					.container.container-decoration
						+e.title.fw-600.d-md-none.text-center Все бренды
						+e.wrap
							+e.item.d-none.d-md-block.fw-600.active(href='#') Все бренды
							+e.item.active(href='#'): +img(src=`img/edelhaus.svg`, alt="")
							+e.item(href='#'): +img(src=`img/konigstein-dark-1.svg`, alt="")
							+e.item(href='#'): +img(src=`img/master-ceramic-dark.svg`, alt="")
							+e.item(href='#'): +img(src=`img/modformat-dark.svg`, alt="")
						.btn-wrap.d-md-none
							+e.btn.btn.btn-outline-secondary(href='#') Сбросить
							+e.btn.btn.btn-primary.btn-apply--js(href='#') Применить
				.tabs__content.active
					+sharePhotoBlock
					.d-md-none.d-flex.d-flex--sm
						+b.open-modal--brands.small Все бренды
						+b.open-modal--filters.open-modal--filters--js.small Фильтры
					+e.row.row
						+galleryPhoto(1, 'Эгерсунн+Стокгольм г. Кострома', 'edelhaus')
						+galleryPhoto(2, 'Эгерсунн+Стокгольм г. Кострома', 'cs-ceramic')
						+galleryPhoto(3, 'Эгерсунн+Стокгольм г. Кострома', 'modformat-dark')
						+galleryPhoto(4, 'Эгерсунн+Стокгольм г. Кострома', 'modformat-dark')
						+galleryPhoto(5, 'Эгерсунн+Стокгольм г. Кострома', 'konigstein-dark-1')
						+galleryPhoto(6, 'Эгерсунн+Стокгольм г. Кострома', 'master-ceramic-dark')
						+galleryPhoto(7, 'Эгерсунн+Стокгольм г. Кострома', 'master-ceramic-dark')
						+galleryPhoto(8, 'Мальмё г. Саратов', 'edelhaus')
						+galleryPhoto(9, 'Эгерсунн+Стокгольм г. Кострома', 'edelhaus')
						+galleryPhoto(10, 'Мальмё г. Саратов', 'edelhaus')
						+galleryPhoto(11, 'Эгерсунн+Стокгольм г. Кострома', 'edelhaus')
						+galleryPhoto(12, 'Мальмё г. Саратов', 'edelhaus')
						+galleryPhoto(13, 'Эгерсунн+Стокгольм г. Кострома', 'konigstein-dark-1')
						+galleryPhoto(14, 'Мальмё г. Саратов', 'edelhaus')
						+galleryPhoto(15, 'Эгерсунн+Стокгольм г. Кострома', 'edelhaus')
						+galleryPhoto(16, 'Мальмё г. Саратов', 'modformat-dark')
					+e.btn.btn.btn-secondary(href='#') Показать еще
				.tabs__content
					.d-md-none.d-flex
						+b.open-modal--brands.small Все бренды
						+b.open-modal--video.small Тема видео
					+e.row.row
						.col-12
							+e.video-section-title Дом с характером 2 сезон
						+galleryVideo(5, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideoDarkBrown(4, 'Дома с характером. Сезон 2. Выпуск 6. Саратов', 'modformat-dark', 'Саратов', 'Частные дома', 'ModFormat')
						+galleryVideoBezh(9, 'Дома с характером. Сезон 2. Выпуск 5. Нижний Новгород', 'edelhaus', 'Нижний Новгород', 'Жилой район', 'Шишимская горка')
						+galleryVideoBlack(10, 'Дома с характером. Сезон 2. Выпуск 4. Екатеринбур', 'modformat-dark', 'Екатеринбург', 'Жилой район', 'Новый карлутский')
						+galleryVideoBrown(3, 'Дома с характером. Сезон 2. Выпуск 3. Ижевск', 'master-ceramic-dark', 'Ижевск', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideo(6, 'Дома с характером. Сезон 2. Выпуск 2. Пермь', 'modformat-dark', 'Пермь', 'Жилой комплекс', 'Меридиан')
						+galleryVideo(7, 'Дома с характером. Сезон 2. Выпуск 1. Тюмень', 'modformat-dark', 'Тюмень', 'Банный комплекс', 'городские парильни')
					+e.row.row
						.col-12
							+e.video-section-title Дом с характером 2 сезон
						+galleryVideoBrown(3, 'Дома с характером. Сезон 2. Выпуск 3. Ижевск', 'master-ceramic-dark', 'Ижевск', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideo(6, 'Дома с характером. Сезон 2. Выпуск 2. Пермь', 'modformat-dark', 'Пермь', 'Жилой комплекс', 'Меридиан')
						+galleryVideoBezh(9, 'Дома с характером. Сезон 2. Выпуск 5. Нижний Новгород', 'edelhaus', 'Нижний Новгород', 'Жилой район', 'Шишимская горка')
						+galleryVideoBlack(10, 'Дома с характером. Сезон 2. Выпуск 4. Екатеринбур', 'modformat-dark', 'Екатеринбург', 'Жилой район', 'Новый карлутский')
						+galleryVideo(5, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideoDarkBrown(4, 'Дома с характером. Сезон 2. Выпуск 6. Саратов', 'modformat-dark', 'Саратов', 'Частные дома', 'ModFormat')
					+e.row.row
						.col-12
							+e.video-section-title Объекты
						+galleryVideoBezh(9, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideoBlack(10, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
					+e.btn.btn.btn-secondary(href='#') Показать еще

	// end sGallery

mixin galleryPhoto(i, title, brand)
	+e.col-12.col-md-6
		+b.architecture-project--photo(data-fancybox=`project-${i}`,
		href='img/gallery-1.png',
		data-caption=`<div class="caption-with-icon"><span>${title}</span><img src="img/${brand}.svg", alt=""></div>`)
			+e.img-wrap.bg-wrap
				+img(`img/gallery-${i}.png`, 'bg')
			+e.title-wrap
				+e.title.small!= title
				+img(src=`img/${brand}.svg`, alt="")
			.d-none
				+b.architecture-project(data-fancybox=`project-${i}`, href=`img/gallery-${i}.png`, data-caption=`<div class="caption-with-icon"><span>${title}</span><img src="img/${brand}.svg", alt=""></div>`)
				+b.architecture-project(data-fancybox=`project-${i}`, href=`img/gallery-${i}.png`, data-caption=`<div class="caption-with-icon"><span>${title}</span><img src="img/${brand}.svg", alt=""></div>`)
				+b.architecture-project(data-fancybox=`project-${i}`, href=`img/gallery-${i}.png`, data-caption=`<div class="caption-with-icon"><span>${title}</span><img src="img/${brand}.svg", alt=""></div>`)
				+b.architecture-project(data-fancybox=`project-${i}`, href=`img/gallery-${i}.png`, data-caption=`<div class="caption-with-icon"><span>${title}</span><img src="img/${brand}.svg", alt=""></div>`)

mixin galleryVideo(i, title, brand, city, place1, place2)
	+e.col-12.col-md-6
		+b.architecture-project--video(href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-', data-fancybox)
			+e.img-wrap.bg-wrap
				+img(`img/gallery-${i}.png`, 'bg')
				+icon('youtube')
				+e.text-wrap
					+e.city= city
					.wrap
						+e.place.small!= place1
						+e.place.small!= place2
			+e.title-wrap
				+e.title.small!= title
				+img(src=`img/${brand}.svg`, alt="")

mixin galleryVideoBrown(i, title, brand, city, place1, place2)
	+e.col-12.col-md-6
		+b.architecture-project--video.--brown(href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-', data-fancybox)
			+e.img-wrap.bg-wrap
				+img(`img/gallery-${i}.png`, 'bg')
				+icon('youtube')
				+e.text-wrap
					+e.city= city
					.wrap
						+e.place.small!= place1
						+e.place.small!= place2
			+e.title-wrap
				+e.title.small!= title
				+img(src=`img/${brand}.svg`, alt="")

mixin galleryVideoDarkBrown(i, title, brand, city, place1, place2)
	+e.col-12.col-md-6
		+b.architecture-project--video.--dark-brown(href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-', data-fancybox)
			+e.img-wrap.bg-wrap
				+img(`img/gallery-${i}.png`, 'bg')
				+icon('youtube')
				+e.text-wrap
					+e.city= city
					.wrap
						+e.place.small!= place1
						+e.place.small!= place2
			+e.title-wrap
				+e.title.small!= title
				+img(src=`img/${brand}.svg`, alt="")

mixin galleryVideoBlack(i, title, brand, city, place1, place2)
	+e.col-12.col-md-6
		+b.architecture-project--video.--black(href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-', data-fancybox)
			+e.img-wrap.bg-wrap
				+img(`img/gallery-${i}.png`, 'bg')
				+icon('youtube')
				+e.text-wrap
					+e.city= city
					.wrap
						+e.place.small!= place1
						+e.place.small!= place2
			+e.title-wrap
				+e.title.small!= title
				+img(src=`img/${brand}.svg`, alt="")

mixin galleryVideoBezh(i, title, brand, city, place1, place2)
	+e.col-12.col-md-6
		+b.architecture-project--video.--bezh(href='https://youtu.be/7AkbUfZjS5k?si=boWKeffFxOLhUsO-', data-fancybox)
			+e.img-wrap.bg-wrap
				+img(`img/gallery-${i}.png`, 'bg')
				+icon('youtube')
				+e.text-wrap
					+e.city= city
					.wrap
						+e.place.small!= place1
						+e.place.small!= place2
			+e.title-wrap
				+e.title.small!= title
				+img(src=`img/${brand}.svg`, alt="")

mixin sharePhotoBlock
	+b.share-photo
		+e.text Поделитесь фотографией объекта
		+e.btn.btn.btn-primary(href='#') Отправить фото объекта


mixin sGalleryEmpty(data)
	// start sGallery
	+b.SECTION.sGallery--empty.white-section.section#sGallery&attributes(attributes)
		.container
			.tabs
				.tabs__caption
					.tabs__btn.swiper-slide.active(data-content="photo") Фотогалерея
					.tabs__btn.swiper-slide(data-content="video") Видеогалерея
					+b.wrap-filter--photo(data-content="photo")
						+b.filters-wrapper--video.white-bg-modal#video-filters.d-md-none
							.container.container-flex.container-decoration
								+e.title.fw-600.text-center Тема видео
								.items
									+e.wrap.filter.small
										.custom-scroll()
											+in-c("checkbox", 'Дом с характером. 1 сезон')
											+in-c("checkbox", 'Дом с характером. 2 сезон')
											+in-c("checkbox", 'Объекты')(checked)
								.btn-wrap.d-md-none
									+e.btn.btn.btn-outline-secondary(href='#') Сбросить
									+e.btn.btn.btn-primary.btn-apply--js(href='#') Применить

						+b.filters-wrapper.white-bg-modal#photo-filters
							.container.container-flex.container-decoration
								+e.title.fw-600.d-md-none.text-center Фильтры
								.btn-back.small.d-none.d-md-none Назад
								.items
									+b.filter.selected
										+e.title.small.fw-600 Регион
										+e.wrap.small
											.custom-scroll()
												+in-c("radio", 'Москва')
												+in-c("radio", 'Санкт-Петербург')
												+in-c("radio", 'Адыгея Республика')(checked)
												+in-c("radio", 'Кострома')
												+in-c("radio", 'Киров')
												+in-c("radio", 'Москва')
												+in-c("radio", 'Саратов')
									+b.filter
										+e.title.small.fw-600 Вид постройки
										+e.wrap.small
											.custom-scroll()
												+in-c("checkbox", 'Многоэтажные дома')(checked)
												+in-c("checkbox", 'Частные дома/коттеджи')
												+in-c("checkbox", 'Печи/камины')
									+b.filter--color
										+e.title.small.fw-600 Цветовая группа
										+e.wrap.small
											.custom-scroll()
												.wrap
													+b.color-wrap--red: +in-c("checkbox", 'Красный')(checked)
													+b.color-wrap--light: +in-c("checkbox", 'Светлый')
													+b.color-wrap--dark: +in-c("checkbox", 'Тёмный')
													+b.color-wrap--red: +in-c("checkbox", 'Красный')
													+b.color-wrap--dark: +in-c("checkbox", 'Тёмный')
													+b.color-wrap--light: +in-c("checkbox", 'Светлый')
													+b.color-wrap--dark: +in-c("checkbox", 'Тёмный')
									+b.filter
										+e.title.small.fw-600 Цвет
										+e.wrap.small
											.custom-scroll()
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')(checked)
												+in-c("checkbox", 'Кёльн')(checked)
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')
												+in-c("checkbox", 'Кёльн')(checked)
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')(checked)
												+in-c("checkbox", 'Кёльн')(checked)
												+in-c("checkbox", 'Марксбург Кварц')
												+in-c("checkbox", 'Марксбург Серый')
												+in-c("checkbox", 'Кёльн')(checked)
								.btn-wrap.d-md-none
									+e.btn.btn.btn-outline-secondary(href='#') Сбросить
									+e.btn.btn.btn-primary.btn-apply--js(href='#') Применить
				+b.brands.white-bg-modal#brands
					.container.container-decoration
						+e.title.fw-600.d-md-none.text-center Все бренды
						+e.wrap
							+e.item.d-none.d-md-block.fw-600.active(href='#') Все бренды
							+e.item.active(href='#'): +img(src=`img/edelhaus.svg`, alt="")
							+e.item(href='#'): +img(src=`img/konigstein-dark-1.svg`, alt="")
							+e.item(href='#'): +img(src=`img/master-ceramic-dark.svg`, alt="")
							+e.item(href='#'): +img(src=`img/modformat-dark.svg`, alt="")
						.btn-wrap.d-md-none
							+e.btn.btn.btn-outline-secondary(href='#') Сбросить
							+e.btn.btn.btn-primary.btn-apply--js(href='#') Применить
				.tabs__content.active
					+sharePhotoBlock
					.filters-slider--js.swiper
						.filters-picked.swiper-wrapper
							.swiper-slide
								+b.filter-item.small(href='#') Сбросить все
							+filterItem('Edelhaus')
							+filterItem('Многоэтажные дома')
							+filterItem('Архангельская область')
							+filterItem('Светлый')
							+filterItem('Тёмный')
							+filterItem('Архангельская область')
							+filterItem('Светлый')
							+filterItem('Тёмный')
							+filterItem('Марксбург Кварц')
							+filterItem('Марксбург Серый')
					+e.row.row.row-empty
						.col-12.col-md-6
							+b.title-item: h4 Извините, по выбранным параметрам ничего не найдено
						.col-12.col-md-6
							p Попробуйте изменить или сократить количество фильтров.
							+e.btn.btn.btn-primary(href='#') В каталог
				.tabs__content
					+e.row.row
						.col-12
							+e.video-section-title Дом с характером 2 сезон
						+galleryVideo(5, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideoDarkBrown(4, 'Дома с характером. Сезон 2. Выпуск 6. Саратов', 'modformat-dark', 'Саратов', 'Частные дома', 'ModFormat')
						+galleryVideoBezh(9, 'Дома с характером. Сезон 2. Выпуск 5. Нижний Новгород', 'edelhaus', 'Нижний Новгород', 'Жилой район', 'Шишимская горка')
						+galleryVideoBlack(10, 'Дома с характером. Сезон 2. Выпуск 4. Екатеринбур', 'modformat-dark', 'Екатеринбург', 'Жилой район', 'Новый карлутский')
						+galleryVideoBrown(3, 'Дома с характером. Сезон 2. Выпуск 3. Ижевск', 'master-ceramic-dark', 'Ижевск', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideo(6, 'Дома с характером. Сезон 2. Выпуск 2. Пермь', 'modformat-dark', 'Пермь', 'Жилой комплекс', 'Меридиан')
						+galleryVideo(7, 'Дома с характером. Сезон 2. Выпуск 1. Тюмень', 'modformat-dark', 'Тюмень', 'Банный комплекс', 'городские парильни')
					+e.row.row
						.col-12
							+e.video-section-title Дом с характером 2 сезон
						+galleryVideoBrown(3, 'Дома с характером. Сезон 2. Выпуск 3. Ижевск', 'master-ceramic-dark', 'Ижевск', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideo(6, 'Дома с характером. Сезон 2. Выпуск 2. Пермь', 'modformat-dark', 'Пермь', 'Жилой комплекс', 'Меридиан')
						+galleryVideoBezh(9, 'Дома с характером. Сезон 2. Выпуск 5. Нижний Новгород', 'edelhaus', 'Нижний Новгород', 'Жилой район', 'Шишимская горка')
						+galleryVideoBlack(10, 'Дома с характером. Сезон 2. Выпуск 4. Екатеринбур', 'modformat-dark', 'Екатеринбург', 'Жилой район', 'Новый карлутский')
						+galleryVideo(5, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideoDarkBrown(4, 'Дома с характером. Сезон 2. Выпуск 6. Саратов', 'modformat-dark', 'Саратов', 'Частные дома', 'ModFormat')
					+e.row.row
						.col-12
							+e.video-section-title Объекты
						+galleryVideoBezh(9, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
						+galleryVideoBlack(10, 'Дома с характером. Сезон 2. Выпуск 7. Казань', 'modformat-dark', 'Казань', 'Коттеджный поселок', 'Volga Residence')
					+e.btn.btn.btn-secondary(href='#') Показать еще

	// end sGallery


mixin filterItem(text)
	.swiper-slide
		+b.filter-item.small(href='#')!=text
			+icon('cross')