mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section.white-section#sMap&attributes(attributes)
		+b.brands.white-bg-modal#brands
			.container
				+e.wrap
					+e.item.active(href='#'): +img(src=`img/edelhaus.svg`, alt="")
					+e.item(href='#'): +img(src=`img/konigstein-dark-1.svg`, alt="")
					+e.item(href='#'): +img(src=`img/master-ceramic-dark.svg`, alt="")
					+e.item(href='#'): +img(src=`img/modformat-dark.svg`, alt="")
			//- +e.row.row
		.container
			h4 Выберите регион
			.dropdown.d-md-none
				.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Москва
				ul.dropdown-menu
					.custom-scroll()
						li: +regionLinkBig('Москва')
						li: +regionLinkBig('Санкт-Петербург')
						li: +regionLink('A', 'Адыгея Республика')
						li: +regionLink('', 'Алтайский край')
						li: +regionLink('', 'Амурская область')
						li: +regionLink('', 'Архангельская область')
						li: +regionLink('', 'Астраханская область')
						li: +regionLink('Б', 'Башкортостан республика')
						li: +regionLink('', 'Беларусь Республика')
						li: +regionLink('', 'Белгородская область')
						li: +regionLink('', 'Брянская область')
						li: +regionLink('', 'Бурятия Республика')
						li: +regionLink('В', 'Владимирская область')
						li: +regionLink('', 'Волгоградская область')
						li: +regionLink('', 'Вологодская область')
						li: +regionLink('', 'Воронежская область')
						li: +regionLink('Г', 'г. Севастополь')
						li: +regionLink('В', 'Владимирская область')
						li: +regionLink('Д', 'Дагестан Республика')
						li: +regionLink('Е', 'Еврейская автономная область')
						li: +regionLink('З', 'Забайкальский край')
						li: +regionLink('И', 'Ивановская область')
						li: +regionLink('', 'Ингушетия Республика')
						li: +regionLink('', 'Иркутская область')
						li: +regionLink('К', 'Казахстан Республика')
						li: +regionLink('', 'Калининградская область')
						li: +regionLink('', 'Камчатский край')
						li: +regionLink('', 'Карелия Республика')
						li: +regionLink('', 'Кемеровская область')
						li: +regionLink('', 'Кировская область')
						li: +regionLink('', 'Коми Республика')
						li: +regionLink('', 'Костромская область')
						li: +regionLink('', 'Краснодарский край')
						li: +regionLink('', 'Курганская область')
						li: +regionLink('', 'Курская область')
						li: +regionLink('', 'Кыргызская Республика')
						li: +regionLink('Л', 'Ленинградская область')
						li: +regionLink('', 'Липецкая область')
						li: +regionLink('М', 'Магаданская область')
						li: +regionLink('', 'Марий Эл Республика')
						li: +regionLink('', 'Мордовия Республика')
						li: +regionLink('', 'Московская область')
						li: +regionLink('Н', 'Ненецкий автономный округ')
						li: +regionLink('', 'Нижегородская область')
						li: +regionLink('', 'Новгородская область')
						li: +regionLink('', 'Новосибирская область')
						li: +regionLink('О', 'Омская область')
						li: +regionLink('', 'Оренбургская область')
						li: +regionLink('', 'Орловская область')
						li: +regionLink('П', 'Пензенская область')
						li: +regionLink('', 'Пермский край')
						li: +regionLink('', 'Приморский край')
						li: +regionLink('', 'Псковская область')
						li: +regionLink('Р', 'Ростовская область')
						li: +regionLink('', 'Рязанская область')
						li: +regionLink('С', 'Самарская область')
						li: +regionLink('', 'Саратовская область')
						li: +regionLink('', 'Сахалинская область')
						li: +regionLink('', 'Свердловская область')
						li: +regionLink('', 'Северная Осетия Республика')
						li: +regionLink('', 'Смоленская область')
						li: +regionLink('', 'Ставропольский край')
						li: +regionLink('Т', 'Тамбовская область')
						li: +regionLink('', 'Татарстан Республика')
						li: +regionLink('', 'Тверская область')
						li: +regionLink('', 'Томская область')
						li: +regionLink('', 'Тульская область')
						li: +regionLink('', 'Тыва Республика')
						li: +regionLink('', 'Тюменская область')
						li: +regionLink('У', 'Удмуртская Республика')
						li: +regionLink('', 'Узбекистан Республика')
						li: +regionLink('', 'Ульяновская область')
						li: +regionLink('Х', 'Хабаровский край')
						li: +regionLink('', 'Хакасия Республика')
						li: +regionLink('', 'Ханты-Мансийский автономный округ')
						li: +regionLink('Ч', 'Челябинская область')
						li: +regionLink('', 'Чеченская Республика')
						li: +regionLink('', 'Чувашская Республика')
						li: +regionLink('', 'Чукотский автономный округ')
						li: +regionLink('Я', 'Якутия Республика')
						li: +regionLink('', 'Ямало-Ненецкий автономный округ')
						li: +regionLink('', 'Ярославская область')
			+e.cities.d-none.d-md-block
				+regionLinkBig('Москва')
				+regionLinkBig('Санкт-Петербург')
				+e.grid
					+regionLink('A', 'Адыгея Республика')
					+regionLink('', 'Алтайский край')
					+regionLink('', 'Амурская область')
					+regionLink('', 'Архангельская область')
					+regionLink('', 'Астраханская область')
					+regionLink('Б', 'Башкортостан республика')
					+regionLink('', 'Беларусь Республика')
					+regionLink('', 'Белгородская область')
					+regionLink('', 'Брянская область')
					+regionLink('', 'Бурятия Республика')
					+regionLink('В', 'Владимирская область')
					+regionLink('', 'Волгоградская область')
					+regionLink('', 'Вологодская область')
					+regionLink('', 'Воронежская область')
					+regionLink('Г', 'г. Севастополь')
					+regionLink('В', 'Владимирская область')
					+regionLink('Д', 'Дагестан Республика')
					+regionLink('Е', 'Еврейская автономная область')
					+regionLink('З', 'Забайкальский край')
					+regionLink('И', 'Ивановская область')
					+regionLink('', 'Ингушетия Республика')
					+regionLink('', 'Иркутская область')
					+regionLink('К', 'Казахстан Республика')
					+regionLink('', 'Калининградская область')
					+regionLink('', 'Камчатский край')
					+regionLink('', 'Карелия Республика')
					+regionLink('', 'Кемеровская область')
					+regionLink('', 'Кировская область')
					+regionLink('', 'Коми Республика')
					+regionLink('', 'Костромская область')
					+regionLink('', 'Краснодарский край')
					+regionLink('', 'Курганская область')
					+regionLink('', 'Курская область')
					+regionLink('', 'Кыргызская Республика')
					+regionLink('Л', 'Ленинградская область')
					+regionLink('', 'Липецкая область')
					+regionLink('М', 'Магаданская область')
					+regionLink('', 'Марий Эл Республика')
					+regionLink('', 'Мордовия Республика')
					+regionLink('', 'Московская область')
					+regionLink('Н', 'Ненецкий автономный округ')
					+regionLink('', 'Нижегородская область')
					+regionLink('', 'Новгородская область')
					+regionLink('', 'Новосибирская область')
					+regionLink('О', 'Омская область')
					+regionLink('', 'Оренбургская область')
					+regionLink('', 'Орловская область')
					+regionLink('П', 'Пензенская область')
					+regionLink('', 'Пермский край')
					+regionLink('', 'Приморский край')
					+regionLink('', 'Псковская область')
					+regionLink('Р', 'Ростовская область')
					+regionLink('', 'Рязанская область')
					+regionLink('С', 'Самарская область')
					+regionLink('', 'Саратовская область')
					+regionLink('', 'Сахалинская область')
					+regionLink('', 'Свердловская область')
					+regionLink('', 'Северная Осетия Республика')
					+regionLink('', 'Смоленская область')
					+regionLink('', 'Ставропольский край')
					+regionLink('Т', 'Тамбовская область')
					+regionLink('', 'Татарстан Республика')
					+regionLink('', 'Тверская область')
					+regionLink('', 'Томская область')
					+regionLink('', 'Тульская область')
					+regionLink('', 'Тыва Республика')
					+regionLink('', 'Тюменская область')
					+regionLink('У', 'Удмуртская Республика')
					+regionLink('', 'Узбекистан Республика')
					+regionLink('', 'Ульяновская область')
					+regionLink('Х', 'Хабаровский край')
					+regionLink('', 'Хакасия Республика')
					+regionLink('', 'Ханты-Мансийский автономный округ')
					+regionLink('Ч', 'Челябинская область')
					+regionLink('', 'Чеченская Республика')
					+regionLink('', 'Чувашская Республика')
					+regionLink('', 'Чукотский автономный округ')
					+regionLink('Я', 'Якутия Республика')
					+regionLink('', 'Ямало-Ненецкий автономный округ')
					+regionLink('', 'Ярославская область')
	// end sMap

//- mixin regionLink(region)
//- 	+b.region-link.small
//- 		a(href='#')= region

mixin regionLink(data, region)
	+b.region-link.small(data-title=data)
		a(href='#')= region

mixin regionLinkBig(region)
	+b.region-link--big
		a(href='#')= region

mixin sMap2(data)
	// start sMap
	+b.SECTION.sMap.section.white-section#sMap&attributes(attributes)
		+b.brands.white-bg-modal#brands
			.container
				+e.wrap
					+e.item.active(href='#'): +img(src=`img/edelhaus.svg`, alt="")
					+e.item(href='#'): +img(src=`img/konigstein-dark-1.svg`, alt="")
					+e.item(href='#'): +img(src=`img/master-ceramic-dark.svg`, alt="")
					+e.item(href='#'): +img(src=`img/modformat-dark.svg`, alt="")
		.container
			h4 Выберите регион
			.dropdown.d-md-none
				.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Москва
				ul.dropdown-menu
					.custom-scroll()
						li: +regionLinkBig('Москва')
						li: +regionLinkBig('Санкт-Петербург')
						li: +regionLink('A', 'Адыгея Республика')
						li: +regionLink('', 'Алтайский край')
						li: +regionLink('', 'Амурская область')
						li: +regionLink('', 'Архангельская область')
						li: +regionLink('', 'Астраханская область')
						li: +regionLink('Б', 'Башкортостан республика')
						li: +regionLink('', 'Беларусь Республика')
						li: +regionLink('', 'Белгородская область')
						li: +regionLink('', 'Брянская область')
						li: +regionLink('', 'Бурятия Республика')
						li: +regionLink('В', 'Владимирская область')
						li: +regionLink('', 'Волгоградская область')
						li: +regionLink('', 'Вологодская область')
						li: +regionLink('', 'Воронежская область')
						li: +regionLink('Г', 'г. Севастополь')
						li: +regionLink('В', 'Владимирская область')
						li: +regionLink('Д', 'Дагестан Республика')
						li: +regionLink('Е', 'Еврейская автономная область')
						li: +regionLink('З', 'Забайкальский край')
						li: +regionLink('И', 'Ивановская область')
						li: +regionLink('', 'Ингушетия Республика')
						li: +regionLink('', 'Иркутская область')
						li: +regionLink('К', 'Казахстан Республика')
						li: +regionLink('', 'Калининградская область')
						li: +regionLink('', 'Камчатский край')
						li: +regionLink('', 'Карелия Республика')
						li: +regionLink('', 'Кемеровская область')
						li: +regionLink('', 'Кировская область')
						li: +regionLink('', 'Коми Республика')
						li: +regionLink('', 'Костромская область')
						li: +regionLink('', 'Краснодарский край')
						li: +regionLink('', 'Курганская область')
						li: +regionLink('', 'Курская область')
						li: +regionLink('', 'Кыргызская Республика')
						li: +regionLink('Л', 'Ленинградская область')
						li: +regionLink('', 'Липецкая область')
						li: +regionLink('М', 'Магаданская область')
						li: +regionLink('', 'Марий Эл Республика')
						li: +regionLink('', 'Мордовия Республика')
						li: +regionLink('', 'Московская область')
						li: +regionLink('Н', 'Ненецкий автономный округ')
						li: +regionLink('', 'Нижегородская область')
						li: +regionLink('', 'Новгородская область')
						li: +regionLink('', 'Новосибирская область')
						li: +regionLink('О', 'Омская область')
						li: +regionLink('', 'Оренбургская область')
						li: +regionLink('', 'Орловская область')
						li: +regionLink('П', 'Пензенская область')
						li: +regionLink('', 'Пермский край')
						li: +regionLink('', 'Приморский край')
						li: +regionLink('', 'Псковская область')
						li: +regionLink('Р', 'Ростовская область')
						li: +regionLink('', 'Рязанская область')
						li: +regionLink('С', 'Самарская область')
						li: +regionLink('', 'Саратовская область')
						li: +regionLink('', 'Сахалинская область')
						li: +regionLink('', 'Свердловская область')
						li: +regionLink('', 'Северная Осетия Республика')
						li: +regionLink('', 'Смоленская область')
						li: +regionLink('', 'Ставропольский край')
						li: +regionLink('Т', 'Тамбовская область')
						li: +regionLink('', 'Татарстан Республика')
						li: +regionLink('', 'Тверская область')
						li: +regionLink('', 'Томская область')
						li: +regionLink('', 'Тульская область')
						li: +regionLink('', 'Тыва Республика')
						li: +regionLink('', 'Тюменская область')
						li: +regionLink('У', 'Удмуртская Республика')
						li: +regionLink('', 'Узбекистан Республика')
						li: +regionLink('', 'Ульяновская область')
						li: +regionLink('Х', 'Хабаровский край')
						li: +regionLink('', 'Хакасия Республика')
						li: +regionLink('', 'Ханты-Мансийский автономный округ')
						li: +regionLink('Ч', 'Челябинская область')
						li: +regionLink('', 'Чеченская Республика')
						li: +regionLink('', 'Чувашская Республика')
						li: +regionLink('', 'Чукотский автономный округ')
						li: +regionLink('Я', 'Якутия Республика')
						li: +regionLink('', 'Ямало-Ненецкий автономный округ')
						li: +regionLink('', 'Ярославская область')
			+e.cities.d-none.d-md-block
				+regionLinkBig('Москва')
				+regionLinkBig('Санкт-Петербург')
				+e.grid
					+regionLink('A', 'Адыгея Республика')
					+regionLink('', 'Алтайский край')
					+regionLink('', 'Амурская область')
					+regionLink('', 'Архангельская область')
					+regionLink('', 'Астраханская область')
					+regionLink('Б', 'Башкортостан республика')
					+regionLink('', 'Беларусь Республика')
					+regionLink('', 'Белгородская область')
					+regionLink('', 'Брянская область')
					+regionLink('', 'Бурятия Республика')
					+regionLink('В', 'Владимирская область')
					+regionLink('', 'Волгоградская область')
					+regionLink('', 'Вологодская область')
					+regionLink('', 'Воронежская область')
					+regionLink('Г', 'г. Севастополь')
					+regionLink('В', 'Владимирская область')
					+regionLink('Д', 'Дагестан Республика')
					+regionLink('Е', 'Еврейская автономная область')
					+regionLink('З', 'Забайкальский край')
					+regionLink('И', 'Ивановская область')
					+regionLink('', 'Ингушетия Республика')
					+regionLink('', 'Иркутская область')
					+regionLink('К', 'Казахстан Республика')
					+regionLink('', 'Калининградская область')
					+regionLink('', 'Камчатский край')
					+regionLink('', 'Карелия Республика')
					+regionLink('', 'Кемеровская область')
					+regionLink('', 'Кировская область')
					+regionLink('', 'Коми Республика')
					+regionLink('', 'Костромская область')
					+regionLink('', 'Краснодарский край')
					+regionLink('', 'Курганская область')
					+regionLink('', 'Курская область')
					+regionLink('', 'Кыргызская Республика')
					+regionLink('Л', 'Ленинградская область')
					+regionLink('', 'Липецкая область')
					+regionLink('М', 'Магаданская область')
					+regionLink('', 'Марий Эл Республика')
					+regionLink('', 'Мордовия Республика')
					+regionLink('', 'Московская область')
					+regionLink('Н', 'Ненецкий автономный округ')
					+regionLink('', 'Нижегородская область')
					+regionLink('', 'Новгородская область')
					+regionLink('', 'Новосибирская область')
					+regionLink('О', 'Омская область')
					+regionLink('', 'Оренбургская область')
					+regionLink('', 'Орловская область')
					+regionLink('П', 'Пензенская область')
					+regionLink('', 'Пермский край')
					+regionLink('', 'Приморский край')
					+regionLink('', 'Псковская область')
					+regionLink('Р', 'Ростовская область')
					+regionLink('', 'Рязанская область')
					+regionLink('С', 'Самарская область')
					+regionLink('', 'Саратовская область')
					+regionLink('', 'Сахалинская область')
					+regionLink('', 'Свердловская область')
					+regionLink('', 'Северная Осетия Республика')
					+regionLink('', 'Смоленская область')
					+regionLink('', 'Ставропольский край')
					+regionLink('Т', 'Тамбовская область')
					+regionLink('', 'Татарстан Республика')
					+regionLink('', 'Тверская область')
					+regionLink('', 'Томская область')
					+regionLink('', 'Тульская область')
					+regionLink('', 'Тыва Республика')
					+regionLink('', 'Тюменская область')
					+regionLink('У', 'Удмуртская Республика')
					+regionLink('', 'Узбекистан Республика')
					+regionLink('', 'Ульяновская область')
					+regionLink('Х', 'Хабаровский край')
					+regionLink('', 'Хакасия Республика')
					+regionLink('', 'Ханты-Мансийский автономный округ')
					+regionLink('Ч', 'Челябинская область')
					+regionLink('', 'Чеченская Республика')
					+regionLink('', 'Чувашская Республика')
					+regionLink('', 'Чукотский автономный округ')
					+regionLink('Я', 'Якутия Республика')
					+regionLink('', 'Ямало-Ненецкий автономный округ')
					+regionLink('', 'Ярославская область')
			+e.item#storage
				+e.row.row
					.col-12.col-md-8.order-md-2
						+e.map
							#map
					.col-12.col-md-4
						.inner-wrap
							.title.fw-500 Москва и Московская область
							.custom-scroll()
								.box
									//- +distributorItem('ООО СПП «Бетонгарант»', 'Смоленская область, Смоленский район, д. Михновка, ул. Краснинская, уч. 1', '+7 4812 30-49-69, 60-86-09, 69-18-19', '+7 910 788-18-19','info-bis@gkbis.ru', 'gkbis.ru')
	// end sMap

mixin distributorItem(title,address,tel, whatsapp, mail, site)
	+b.coord-item
		+e.title
			| #{title}
		+e.item-text
			+e.info-address.small #[span Адрес]: #{address}
			+e.info-address.small #[span Тел.:] #{tel}
			+e.info-address.small #[span Viber/WhatsApp: ]
				a(href=`https://wa.me/${whatsapp}`)= whatsapp
			+e.info-address.small #[span E-mail: ]
				a(href=`mailto:${mail}`)= mail
			+e.info-address.small #[span Сайт: ]
				a(href=`${site}`)= site